<div class='row'>
  <div class="col-md-12 col-lg-12 col-xxxl-12"
    [nbSpinner]="isLoading"
    nbSpinnerStatus="success"
    nbSpinnerSize="large"
    nbSpinnerMessage="Loading courses....">
      <form [formGroup]="studentClassForm" class="step-container">
            <div class="row" *ngIf="isUserStudent">
                <div class="col-md-6">
                    <div class="form-control-group">
                        <label for="class-academicLevel" class="label">Academic Level</label>
                        <nb-select
                          fullWidth
                          placeholder="Academic Level"
                          formControlName="academicLevelId"
                          id="class-academicLevel">
                          <nb-option
                              *ngFor='let acad of academicLevels'
                              [value]="acad.id">
                              {{acad.name}} - {{acad.code}}
                          </nb-option>
                        </nb-select>
                    </div>
                </div>
            </div>
            <div class="lists row">
              <div class="col-md-12">
                  <div class="form-control-group">
                    <nb-card class="list-card" accent="success">
                      <nb-card-body style="padding: 0;" *ngIf="classViews && isUserStudent">
                        <h5>List of courses for {{academicLevel?.name}} - {{academicLevel?.code}}</h5>
                        <nb-list class="list-group">
                          <nb-list-item class="list-group-item" >
                              <div class="row">
                                  <div class="col-md-4">Course Name</div>
                                  <div class="col-md-3">Teacher</div>
                                  <div class="col-md-3">Room</div>
                                  <div class="col-md-2">Meeting Time</div>
                              </div>
                          </nb-list-item>
                          <nb-list-item class="list-group-item" *ngFor="let classView of classViews">
                            <a href="#" (click)="preventDefaultJClass($event)">
                                <div class="row">
                                  <div class="col-md-4">{{classView.course.name}} ({{classView.course.code}})</div>
                                  <div class="col-md-3">{{classView.teacher.fullName}}</div>
                                  <div class="col-md-3">{{classView.room.name}}</div>
                                  <div class="col-md-2">{{classView.meetingTime.time}} <span class='push-right'><nb-icon icon="checkmark-outline"></nb-icon></span></div>
                                </div>
                            </a>
                          </nb-list-item>
                        </nb-list>
                      </nb-card-body>
                      <nb-card-body style="padding: 0;" *ngIf="classViews && isUserTeacher">
                        <h5 *ngIf="isUserTeacher">List of courses <span>for all academic level</span></h5>
                        <nb-list class="list-group">
                          <nb-list-item class="list-group-item" >
                              <div class="row">
                                  <div class="col-md-4">Course Name</div>
                                  <div class="col-md-3">Academic Level</div>
                                  <div class="col-md-3">Room</div>
                                  <div class="col-md-2">Meeting Time</div>
                              </div>
                          </nb-list-item>
                          <nb-list-item class="list-group-item" *ngFor="let classView of classViews">
                            <a href="#" (click)="preventDefaultJClass($event)">
                                <div class="row">
                                  <div class="col-md-4">{{classView.course.name}} ({{classView.course.code}})</div>
                                  <div class="col-md-3">{{classView?.course?.academicLevel?.name}} - {{classView?.course?.academicLevel?.code}}</div>
                                  <div class="col-md-3">{{classView.room.name}}</div>
                                  <div class="col-md-2">{{classView.meetingTime.time}} <span class='push-right'><nb-icon icon="checkmark-outline"></nb-icon></span></div>
                                </div>
                            </a>
                          </nb-list-item>
                        </nb-list>
                      </nb-card-body>
                    </nb-card>
                  </div>
              </div>
            </div>
      </form>
  </div>
</div>
