<div class='row'>
  <div class="col-md-12 col-lg-12 col-xxxl-12">
      <form  autocomplete="off" [formGroup]="courseForm" (ngSubmit)="onSubmit()">
          <nb-card size="giant" status="primary">
            <nb-card-header>{{ title }}</nb-card-header>
            <nb-card-body>
              <div class='row'>
                  <div class='col-md-12'>

                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-control-group">
                          <label for="course-name" class="label">Course Name</label>
                          <input
                              type="text"
                              nbInput fullWidth
                              required
                              id="course-name"
                              formControlName="name"
                              placeholder="eg. Computer Engineering">
                        </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-control-group">
                        <label for="course-code" class="label">Course code</label>
                        <input
                            type="text"
                            nbInput fullWidth
                            autocomplete="off"
                            required
                            id="course-code"
                            formControlName="code"
                            placeholder="eg.  CN345">
                      </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                    <div class="form-control-group">
                        <label for="course-description" class="label">Course Description</label>
                        <textarea
                            nbInput
                            fullWidth
                            formControlName="description"
                            placeholder="">
                        </textarea>
                        <!-- <app-mce-editor (editorKeyup)=getDescriptionContent($event) ></app-mce-editor> -->
                      </div>
                </div>
            </div>
            </nb-card-body>
            <nb-card-footer>
              <button class='push-right' [disabled]="!courseForm.valid" type="submit" nbButton hero status="success">Submit</button>
              <button class='push-right' nbButton hero status="danger" (click)="dismiss()">Cancel</button>
            </nb-card-footer>
          </nb-card>
      </form>
  </div>
</div>

