<div class='row'>
  <div class="col-md-12 col-lg-12 col-xxxl-12">
      <form  autocomplete="off" [formGroup]="courseForm" (ngSubmit)="onSubmit()">
          <nb-card size="giant" status="primary">
            <nb-card-header>{{ title }}</nb-card-header>
            <nb-card-body>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-control-group">
                      <label for="course-department" class="label">Department</label>
                      <nb-select
                          fullWidth
                          placeholder="Department"
                          formControlName="departmentId"
                          id="course-department">
                          <nb-option
                              *ngFor='let department of departments'
                              [value]="department.id">
                              {{department.name}}
                          </nb-option>
                        </nb-select>
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                    <div class="form-control-group">
                        <label for="course-program" class="label">Program</label>
                        <nb-select
                            fullWidth
                            placeholder="Program"
                            formControlName="programId"
                            id="course-program">
                            <nb-option
                                *ngFor='let program of programs'
                                [value]="program.id">
                                {{program.name}}
                            </nb-option>
                          </nb-select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-control-group">
                        <label for="class-academicLevel" class="label">Course Academic Level</label>
                        <nb-select
                          fullWidth
                          placeholder="Course Academic Level"
                          formControlName="academicLevelId"
                          id="class-academicLevel">
                          <nb-option
                              *ngFor='let acad of academicLevels'
                              [value]="acad.id">
                              {{acad.name}} - {{acad.code}}
                          </nb-option>
                        </nb-select>
                    </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-control-group">
                          <label for="course-name" class="label">Course Name</label>
                          <input
                              type="text"
                              nbInput fullWidth
                              required
                              id="course-name"
                              formControlName="name"
                              placeholder="eg. Computer Engineering">
                        </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-control-group">
                        <label for="course-code" class="label">Course code</label>
                        <input
                            type="text"
                            nbInput fullWidth
                            autocomplete="off"
                            required
                            id="course-code"
                            formControlName="code"
                            placeholder="eg.  CN345">
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <div class="form-control-group">
                          <label for="course-description" class="label">Course Description</label>
                          <textarea
                              nbInput
                              fullWidth
                              formControlName="description"
                              placeholder="">
                          </textarea>
                          <!-- <app-mce-editor (editorKeyup)=getDescriptionContent($event) ></app-mce-editor> -->
                        </div>
                  </div>
              </div>
            </nb-card-body>
            <nb-card-footer>
              <button class='push-right'
                  [disabled]="!courseForm.valid"
                  type="submit"
                  nbButton hero
                  status="success"
                  [nbSpinner]="isSubmitting"
                  nbSpinnerStatus="success"
                  nbSpinnerSize="large"
                  [nbSpinnerMessage]="action == 'create' ? 'Creating course......' :'Saving the changes......'">
                    {{action == 'create' ? 'Create Course' : 'Save Changes'}}
              </button>
              <button  type='button' class='push-right' nbButton hero status="danger" (click)="dismiss()">Cancel</button>
            </nb-card-footer>
          </nb-card>
      </form>
  </div>
</div>

