version: "3.7"
services:
  jerotoma_sms:
    container_name: jerotoma_sms  
    build:
      context: .
      dockerfile: Dockerfile
    image: jerotoma_sms
    volumes:
      - ./tomcat/jerotoma_sms/:/usr/local/app/jerotoma_sms
      - ./tomcat/storage:/usr/local/app/storage
      - ./tomcat/logs:/usr/local/app/logs       
    networks:
      - jerotoma_sms_net
    ports:
      - "8082:8080"
      - "8000:8000"            
    restart: always
networks:
  jerotoma_sms_net:
    name: jerotoma_sms_net