<div class='row'>
  <div class="col-md-12 col-lg-12 col-xxxl-12">
      <form  autocomplete="off" [formGroup]="streamForm" (ngSubmit)="onSubmit()">
          <nb-card status="primary" class="dialog-card">
            <nb-card-header>{{ title }}</nb-card-header>
            <nb-card-body
              [nbSpinner]="isSubmitting"
              nbSpinnerStatus="success"
              nbSpinnerSize="large"
              [nbSpinnerMessage]="action == 'create' ? 'Creating stream......' :'Saving the changes......'"
            >
              <div class="row">
                  <div class="col-md-12">
                      <div class="form-control-group">
                        <label for="stream-name" class="label">Name</label>
                        <input
                            type="text"
                            nbInput fullWidth
                            required
                            id="stream-name"
                            formControlName="name"
                            placeholder="eg. PCM">
                      </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                    <div class="form-control-group">
                      <label for="stream-code" class="label">Code</label>
                      <input
                          type="text"
                          nbInput fullWidth
                          required
                          id="stream-code"
                          formControlName="code"
                          placeholder="eg. ST-1000">
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                    <div class="form-control-group">
                        <label for="stream-description" class="label">Description</label>
                        <textarea
                          id="stream-description"
                          nbInput
                          fullWidth
                          formControlName="description"
                          placeholder="">
                        </textarea>
                        <!-- <app-mce-editor (editorKeyup)=getDescriptionContent($event) ></app-mce-editor> -->
                      </div>
                </div>
              </div>
            </nb-card-body>
            <nb-card-footer>
              <button class='push-right'
                  [disabled]="!streamForm.valid"
                  type="submit"
                  nbButton hero
                  status="success">
                    {{action == 'create' ? 'Create' : 'Save Changes'}}
              </button>
              <button  type='button' class='push-right' nbButton hero status="danger" (click)="dismiss()">Cancel</button>
            </nb-card-footer>
          </nb-card>
      </form>
  </div>
</div>

