<nb-card>
  <nb-card-header>
    {{userLabel}} Details
    <button *ngIf="userDatail && isUserStudent" class="push-right" nbButton hero status='success' (click)="addParent(userDatail)">Add New Parent</button>
  </nb-card-header>
  <nb-card-body style="padding: 0;">
    <div class="container emp-profile" *ngIf="userDatail">
          <div class="row">
              <div class="col-md-9">
                  <div class="profile-head">
                      <h5 *ngIf="userDatail.fullName" class="text-primary">{{userDatail.fullName}}</h5>
                  </div>
                  <div class="profile-address">
                    <address *ngIf="userDatail.emailAddress">
                      <a href="#">Email: <span class="text-primary">{{userDatail.emailAddress}}</span></a>
                    </address>
                    <div class="bd-address" *ngIf="userDatail.address">
                        <address>
                          <strong>Physical Address</strong><br>
                          {{userDatail.address.street}}, {{userDatail.address.unit}}<br>
                          {{userDatail.address.city}}, {{userDatail.address.state}} {{userDatail.address.postalCode}}<br>
                          {{userDatail.address.country}}
                        </address>
                    </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="profile-img">
                    <img [src]="baseURL + userDatail?.picture" alt=""/>
                    <div (click)="changeProfilePic()" class="file btn btn-lg btn-primary text-primary">
                        Change Photo
                    </div>
                </div>
              </div>
            </div>
            <div class="row mt-3"  *ngIf="isUserStudent">
              <div class="col-md-12">
                <nb-alert outline="info">
                  <div>Program Enrolled : <span class="text-primary">{{userDatail?.programName}}</span> and current Academic Level : <span class="text-primary">{{userDatail?.currentAcademicLevelName}}</span></div>
                </nb-alert>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                  <div class="profile-tab">
                    <nb-card accent="success">
                        <nb-card-body style="padding: 0;">
                          <nb-tabset>
                            <nb-tab tabTitle="Base Details">
                              <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <tbody>
                                      <tr>
                                        <th class="user-details">User ID: </th>
                                        <td><span *ngIf="userDatail.id">{{userDatail?.userId}}</span></td>
                                      </tr>
                                      <tr>
                                        <th class="user-details">User Type: </th>
                                        <td><span *ngIf="userDatail.id">{{userDatail?.userType}}</span></td>
                                      </tr>
                                      <tr>
                                        <th class="user-details">Full Name: </th>
                                        <td><span *ngIf="userDatail.fullName">{{userDatail.fullName}}</span></td>
                                      </tr>
                                      <tr *ngIf="userDatail.studentNumber">
                                        <th class="user-details">Student Number: </th>
                                        <td><span>{{userDatail.studentNumber}}</span></td>
                                      </tr>

                                      <tr *ngIf="userDatail.programName">
                                        <th class="user-details">Program Enrolled: </th><td><span>{{userDatail?.programName}}</span></td>
                                      </tr>
                                      <tr *ngIf="userDatail.currentAcademicLevelName">
                                        <th class="user-details">Current Academic Level: </th><td><span>{{userDatail?.currentAcademicLevelName}}</span></td>
                                      </tr>
                                      <tr *ngIf="userDatail.birthDate">
                                        <th class="user-details">Date of Birth: </th><td><span>{{userDatail?.birthDate | date:'longDate'}}</span></td>
                                      </tr>
                                      <tr>
                                        <th class="user-details">Email Address: </th>
                                        <td><span *ngIf="userDatail.emailAddress">{{userDatail?.emailAddress}}</span></td>
                                      </tr>
                                      <tr>
                                        <th class="user-details">Phone Number: </th>
                                        <td><span *ngIf="userDatail.phoneNumber">{{userDatail?.phoneNumber}}</span></td>
                                      </tr>
                                      <tr *ngIf="userDatail.occupation">
                                        <th class="user-details">Profession: </th>
                                        <td><span *ngIf="userDatail.occupation"> {{userDatail.occupation}}</span></td>
                                      </tr>
                                      <tr>
                                        <th class="user-details">Registered On: </th>
                                        <td><span *ngIf="userDatail.createdOn"> {{userDatail.createdOn | date:'longDate'}}</span></td>
                                      </tr>
                                      <tr>
                                        <th class="user-details">Updated On: </th>
                                        <td><span *ngIf="userDatail.updatedOn"> {{userDatail.updatedOn |  date:'longDate' }}</span></td>
                                      </tr>
                                    </tbody>
                                </table>
                              </div>
                            </nb-tab>
                            <nb-tab
                              *ngIf="isUserStudent || isUserParent"
                              [tabTitle]="isUserStudent ? 'My Parents' : 'My Students'">
                              <div class="row">
                                  <div class="col-md-12">
                                    <div class="row">
                                      <div class="col-md-12" *ngIf="isUserStudent && parents">
                                        <div class="table-responsive mb-2" *ngFor="let user of parents; index as i;" >
                                          <div class="circle-shape text-center">{{i + 1}}</div>
                                          <table class="table table-striped table-hover">
                                              <tbody>
                                                <tr>
                                                  <th class="user-details">Full Name: </th>
                                                  <td><span *ngIf="user.fullName">{{user.fullName}}</span></td>
                                                </tr>
                                                <tr>
                                                  <th class="user-details">Email Address: </th>
                                                  <td><span *ngIf="user.emailAddress">{{user.emailAddress}}</span></td>
                                                </tr>
                                                <tr>
                                                  <th class="user-details">Phone Number: </th>
                                                  <td><span *ngIf="user.phoneNumber">{{user.phoneNumber}}</span></td>
                                                </tr>
                                                <tr>
                                                  <th class="user-details">Email Address: </th>
                                                  <td><span *ngIf="user.emailAddress">{{user.emailAddress}}</span></td>
                                                </tr>
                                                <tr>
                                                  <th class="user-details">Relationship Type: </th>
                                                  <td><span *ngIf="user.relationshipType">{{user.relationshipType}}</span></td>
                                                </tr>
                                              </tbody>
                                          </table>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row" *ngIf="isUserParent && students">
                                      <div class="col-md-12">
                                        <div class="row mt-3">
                                          <div class="col-md-12">
                                            <nb-alert outline="info">Number of students: {{students.length}}</nb-alert>
                                          </div>
                                        </div>
                                        <div class="table-responsive mb-2" *ngFor="let user of students; index as i;">
                                          <div class="circle-shape text-center">{{i + 1}}</div>
                                          <table class="table table-striped table-hover">
                                              <tbody>
                                                <tr>
                                                  <th class="user-details">Full Name: </th>
                                                  <td><span *ngIf="user.fullName">{{user.fullName}}</span></td>
                                                </tr>
                                                <tr>
                                                  <th class="user-details">Email Address: </th>
                                                  <td><span *ngIf="user.emailAddress">{{user.emailAddress}}</span></td>
                                                </tr>
                                                <tr *ngIf="user.studentNumber">
                                                  <th class="user-details">Student Number: </th>
                                                  <td><span>{{user.studentNumber}}</span></td>
                                                </tr>
                                                <tr *ngIf="user.birthDate">
                                                  <th class="user-details">Date of Birth: </th><td><span>{{user.birthDate | date:'longDate'}}</span></td>
                                                </tr>
                                                <tr>
                                                  <th class="user-details">Phone Number: </th>
                                                  <td><span *ngIf="user.phoneNumber">{{user.phoneNumber}}</span></td>
                                                </tr>
                                                <tr>
                                                  <th class="user-details">Current Academic Level: </th>
                                                  <td><span *ngIf="user.currentAcademicLevelName">{{user.currentAcademicLevelName}}</span></td>
                                                </tr>
                                              </tbody>
                                          </table>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                            </nb-tab>
                          </nb-tabset>
                        </nb-card-body>
                    </nb-card>
                </div>
              </div>
            </div>
        </div>
  </nb-card-body>
</nb-card>
