
<div class='row card-row' *ngIf="classAttendance">
  <div class="card-col col-md-12 col-lg-12 col-xxxl-12">
      <form [formGroup]="recordAttendanceForm" class="step-container" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
              <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">Academic Year</th>
                    <td>{{classAttendance.academicYearName}} - {{classAttendance.yearOfStudy}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Class Name : </th>
                    <td>{{classAttendance.courseName}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Attendance Date</th>
                    <td>{{classAttendance.attendanceDate | date:'longDate'}}
                      <mat-form-field class="attendanceDate-full-width">
                        <input
                          matInput
                          formControlName="attendanceDate"
                          [matDatepicker]="attendanceDate"
                          placeholder="">
                        <mat-datepicker #attendanceDate></mat-datepicker>
                      </mat-form-field>
                      <button
                        type="button"
                        nbButton outline status="info"
                        (click)="attendanceDate.open()">Change Attendance Date</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <input type="hidden" [value]="classAttendance?.id" formControlName="classAttendanceId">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-hover" *ngIf="studentAttendanceStatusesArray && classAttendance.studentAttendances && attendanceStatuses">
              <thead>
                <tr>
                  <th scope="col">Full Name</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody formArrayName="studentAttendanceStatusesArray">
                <tr *ngFor="let studentAttendance of studentAttendanceStatusesArray.controls; let i = index" [formGroupName]="i">
                  <th scope="row">{{classAttendance?.studentAttendances[i]?.fullName}}</th>
                  <td>
                    <input type="hidden" [value]="classAttendance?.studentAttendances[i]?.studentId" formControlName="studentId">
                    <nb-radio-group
                      id="attendanceStatusId-{{classAttendance?.studentAttendances[i]?.studentId}}"
                      [value]="classAttendance?.studentAttendances[i]?.statusId"
                      name="attendanceStatusId-{{classAttendance?.studentAttendances[i]?.studentId}}"
                      formControlName="attendanceStatusId">
                      <nb-radio
                        *ngFor="let status of attendanceStatuses"
                        [value]="status.id">
                          {{status.name}}
                      </nb-radio>
                    </nb-radio-group>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row"
              [nbSpinner]="isSubmitting"
              nbSpinnerStatus="success"
              nbSpinnerSize="large"
              nbSpinnerMessage="Submitting Attendances">
          <div class="col-md-12">
              <div class="form-control-group">
                <button class='push-right'
                  [disabled]="!recordAttendanceForm.valid || isSubmitting"
                  type="submit"
                  nbButton hero
                  status="success">
                  {{ isSubmitting ? 'Submitting Attendances' : 'Submit Attendances' }}
                </button>
              </div>
          </div>
        </div>
      </form>
    </div>
</div>

