<div class='row card-row' *ngIf="classAttendance">
  <div class="card-col col-md-12 col-lg-12 col-xxxl-12">
      <form [formGroup]="recordAttendanceForm" class="step-container" (ngSubmit)="onSubmit()">
          <nb-card class="dialog-card" size="medium">
            <nb-card-header status="danger">Record Student Attendance</nb-card-header>
            <nb-card-body>
              <div class="row">
                  <div class="col-md-12">
                      <div class="form-control-group">
                        <label class="label">Academic Year </label>
                        {{classAttendance.academicYear.name}} - {{classAttendance.academicYear.yearOfStudy}}
                      </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                    <div class="form-control-group">
                        <label for="class-classId" class="label">Class </label>
                        {{classAttendance.mclass.course.name}}
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-control-group">
                    <label for="class-attendanceDate" class="label">Attendance Date</label>
                    {{classAttendance.attendanceDate | date:'longDate'}}
                  </div>
              </div>
              </div>
            </nb-card-body>
            <nb-card-footer>
                <button class='push-right' [disabled]="!recordAttendanceForm.valid" type="submit" nbButton hero status="success">Submit Attendances</button>
            </nb-card-footer>
          </nb-card>
      </form>
    </div>
</div>

