<div class='row'>
  <div class="col-md-12 col-lg-12 col-xxxl-12">
      <form  autocomplete="off" [formGroup]="attendanceStatusForm" (ngSubmit)="onSubmit()">
          <nb-card status="primary">
            <nb-card-header>{{ title }}</nb-card-header>
            <nb-card-body>
              <div class="row">
                  <div class="col-md-12">
                      <div class="form-control-group">
                          <label for="course-name" class="label">Status Name</label>
                          <input
                              type="text"
                              nbInput fullWidth
                              required
                              id="course-name"
                              formControlName="name"
                              placeholder="eg. Present">
                        </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <div class="form-control-group">
                          <label for="course-description" class="label">Description</label>
                          <textarea
                              nbInput
                              fullWidth
                              formControlName="description"
                              placeholder="">
                          </textarea>
                          <!-- <app-mce-editor (editorKeyup)=getDescriptionContent($event) ></app-mce-editor> -->
                        </div>
                  </div>
              </div>
            </nb-card-body>
            <nb-card-footer>
              <button class='push-right'
                  [disabled]="!attendanceStatusForm.valid"
                  type="submit"
                  nbButton hero
                  status="success"
                  [nbSpinner]="isSubmitting"
                  nbSpinnerStatus="success"
                  nbSpinnerSize="large"
                  [nbSpinnerMessage]="action == 'create' ? 'Creating course......' :'Saving the changes......'">
                    {{action == 'create' ? 'Create Status' : 'Save Changes'}}
              </button>
              <button  type='button' class='push-right' nbButton hero status="danger" (click)="dismiss()">Cancel</button>
            </nb-card-footer>
          </nb-card>
      </form>
  </div>
</div>

