@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import './app/@theme/styles/themes';

@include nb-install-component() {
  nb-card-body {
    display: block;

    button {
      width: 100%;
      margin-bottom: 2rem;
      display: block;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .result-from-dialog {
    flex-direction: column;
  }
  .form-input-card {
    nb-card-body {
      display: block;
    }
  }

  @include media-breakpoint-down(lg) {
    button {
      padding: 0.8rem;
    }
    nb-dialog-container {
      width:700px;
    }
  }

  @include media-breakpoint-down(is) {
    button {
      padding: 0.75rem;
    }
  }
}

:host ::ng-deep nb-stepper .step-content {
  text-align: center;

  button {
    cursor: pointer;
    margin: 0.5rem;
  }
}
button {
  cursor: pointer;
  margin: 0.2rem;
}
.push-right {
  float: right;
}
.push-left {
  float: left;
}
nb-dialog-container {
  width:1000px;
}

.form-control-group {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
}
.mat-header-cell {
  font-size: 16px;
  font-weight: 700;
}

.error-message {
  color: #ff3d71 !important;
}
table {
  width: 100%;
}
button {
  cursor: pointer;
  border: none;
}

.nb-theme-default nb-card {
  max-height: 90vh !important;
}
.nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column {
   padding: 1.25rem 1.25rem 0.25rem;
}
nb-sidebar > div > div > nb-menu {
  margin-bottom: 6rem !important;
}
.nb-theme-default nb-list-item:hover {
  cursor: pointer;
  background-color: #edf1f7;
}

.mt-1 {
  margin-top: 1.5rem;
}

button,
.nb-theme-default [nbButton].appearance-hero {
  text-transform: none;
}
.capitalize {
  text-transform: capitalize;
}
