<table class="table" *ngIf="tableColumns.length && tableRows.length">
    <thead>
      <tr>
        <th scope="col" *ngFor="let columnName of tableColumns">{{columnName}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rowItem of tableRows">
        <th scope="row">{{rowItem.id}}</th>
        <td>{{rowItem.fullName}}</td>
        <td>{{rowItem.gender}}</td>
        <td>{{rowItem.academicDiscipline.name}}</td>
        <td>{{rowItem.position.name}}</td>
        <td>{{rowItem.numberOfCourses}}</td>
        <td>
            <nb-icon icon="star" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
        </td>
      </tr>
    </tbody>
  </table>
