<div class='row'>
  <div class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card accent="success">
      <nb-card-header>Program Details</nb-card-header>
      <nb-card-body>
        <div class="row">
            <div class="col-md-12">
                <div class="form-control-group">
                    <label for="program-name" class="label">Name</label>
                    <p>{{program?.name}}</p>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <div class="form-control-group">
                <label for="program-code" class="label">Code</label>
                <p>{{program?.code}}</p>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
                <div class="form-control-group">
                  <label for="program-description" class="label">Description</label>
                  <p>{{program?.description}}</p>
                  <!-- <app-mce-editor (editorKeyup)=getDescriptionContent($event) ></app-mce-editor> -->
                </div>
          </div>
        </div>
        <div class="lists row">
          <div class="col-md-12">
              <div class="form-control-group">
                <nb-card class="list-card" accent="success" *ngIf="program && program.academicLevels">
                  <nb-card-header>List of Required Levels to graduate the program <button class="push-right" nbButton hero status='success' (click)="addNewAcademicLevel()">Add New Academic Level</button></nb-card-header>
                  <nb-card-body style="padding: 0;">
                    <nb-list class="list-group"
                      [nbSpinner]="isLoadingAcademicLevel"
                      nbSpinnerStatus="success"
                      nbSpinnerSize="large"
                      [nbSpinnerMessage]="'Loading Academic Levels......'">
                      <nb-list-item
                        class="list-group-item"
                        *ngFor="let academicLevel of program.academicLevels; index as i;"
                        (click)="showAcademicLevelPrerequisite($event, academicLevel)">
                        <a href="#" (click)="showAcademicLevelPrerequisite($event, academicLevel)">
                          <div class="row">
                            <div class="col-md-1">{{i + 1}}</div>
                            <div class="col-md-9">{{academicLevel.name}}</div>
                            <div class="col-md-2">
                              <span class="push-right text-danger" (click)="removeAcademicLevel($event, academicLevel)">
                                <nb-icon icon="trash-2-outline"></nb-icon> Remove
                              </span>
                            </div>
                          </div>
                        </a>
                      </nb-list-item>
                    </nb-list>
                  </nb-card-body>
                </nb-card>
              </div>
          </div>
        </div>
        <div class="lists row"  *ngIf="academicLevelPrerequisites && academicLevelPrerequisites.length > 0">
          <div class="col-md-12">
              <div class="form-control-group">
                <nb-card class="list-card" accent="success">
                  <nb-card-header>List of Pre-requisite for the selected Academic Level </nb-card-header>
                  <nb-card-body style="padding: 0;">
                    <nb-list class="list-group"
                      [nbSpinner]="isLoadingPrerequisite"
                      nbSpinnerStatus="success"
                      nbSpinnerSize="large"
                      [nbSpinnerMessage]="'Loading Academic Level Pre-requisites......'">
                      <nb-list-item
                        class="list-group-item"
                        *ngFor="let academicLevelPrerequisite of academicLevelPrerequisites; index as i;">
                        <a href="#" (click)="removeDefaultEvent($event)">
                          <div class="row">
                            <div class="col-md-1">{{i + 1}}</div>
                            <div class="col-md-9">{{academicLevelPrerequisite?.academicLevel?.name}}</div>
                            <div class="col-md-2">
                              <span class="push-right text-danger" (click)="removeAcademicLevelPrerequisite($event, academicLevelPrerequisite)">
                                <nb-icon icon="trash-2-outline"></nb-icon> Remove
                              </span>
                            </div>
                          </div>
                        </a>
                      </nb-list-item>
                    </nb-list>
                  </nb-card-body>
                </nb-card>
              </div>
          </div>
      </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
