table {
  width: 100%;
}
button {
  cursor: pointer;
  margin: 0;
  margin-left: 3px;
  border: none;
}

button:focus {
  outline: none;
}
button:hover {
  background-color: rgba(0, 0, 0, 0.03);;
}
a:hover {
  text-decoration: none;
}

nb-checkbox {
  margin-bottom: 1rem;
}
