<div class='row'>
  <div class="col-md-12 col-lg-12 col-xxxl-12">
      <form [formGroup]="studentAcademicLevelForm" class="step-container" (ngSubmit)="onSubmit()">
        <nb-card [nbSpinner]="isLoading" nbSpinnerSize="giant" nbSpinnerStatus="primary">
          <nb-card-header status="danger">{{ title }}</nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-md-12">
                  <div class="form-control-group" *ngIf="currentAcademicYear">
                      <label for="class-academicYear" class="label">Current Academic Year</label>
                      <p>{{currentAcademicYear?.name}} - {{currentAcademicYear?.yearOfStudy}}</p>
                  </div>
                  <nb-alert status="warning" *ngIf="!currentAcademicYear">
                    Looks like current academic year isn't set.
                  </nb-alert>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <app-search-user
                  [title]="'Search for Student'"
                  [placeholder]="'Type Student Initial'"
                  [userType]="userType"
                  (onUserSelected)="setSelectedUser($event)"
                ></app-search-user>
              </div>
              <div class="col-md-6">
                <div class="form-control-group" *ngIf="currentAcademicYear">
                  <label for="student-program" class="label">Student Program</label>
                  <p>{{student?.programName}}</p>
                </div>
                <nb-alert status="warning" *ngIf="student && !student.programName">
                  Sorry student must be registered to one of the School Program
                </nb-alert>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                  <div class="form-control-group">
                      <label for="class-academicLevel" class="label">Academic Level</label>
                      <nb-select
                        fullWidth
                        placeholder="Course Academic Level"
                        formControlName="academicLevelId"
                        id="class-academicLevel">
                        <nb-option
                            *ngFor='let acad of academicLevels'
                            [value]="acad?.id">
                            {{acad?.name}} - {{acad?.code}}
                        </nb-option>
                      </nb-select>
                  </div>
              </div>
              <div class="col-md-6">
                <div class="form-control-group">
                  <label for="is-current-student-academic-level" class="label">Is this current Student Academic Level</label>
                  <p>
                    <nb-checkbox
                    id="is-current-student-academic-level"
                    formControlName="isCurrentAcademicLevel"
                    status="primary"> If checked, the level becomes current Student Academic Level</nb-checkbox>
                  </p>
                </div>
              </div>
            </div>
          </nb-card-body>
          <nb-card-footer>
            <div class="form-control-group">
              <button class='push-right' [disabled]="!studentAcademicLevelForm.valid" type="submit" nbButton hero status="success">Create Student Academic Level</button>
              <button type='button' class='push-right' nbButton hero status="danger" (click)="dismiss()">Cancel</button>
            </div>
          </nb-card-footer>
        </nb-card>
  </form>
</div>
</div>

