<nb-card>
  <nb-card-body>
    <nb-tabset>
      <nb-tab tabTitle="User Details" tabIcon="person-outline" responsive>
        <app-user-details
          *ngIf="user"
          [userDatail]="user"
          [userType]="user.userType"
        ></app-user-details>
      </nb-tab>
      <nb-tab tabTitle="Edit User Details" tabIcon="edit-outline">
          <app-edit-user
            #snackMessage
            *ngIf="user"
            [user]="user"
        ></app-edit-user>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
