<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-header> {{title}} <button class="push-right" nbButton hero status='success' (click)="open()">Add New Meeting Time</button></nb-card-header>
  <nb-card-body
      [nbSpinner]="isLoading"
      nbSpinnerStatus="success"
      nbSpinnerSize="large"
      nbSpinnerMessage="Loading Meeting Times....">
      <div class="mat-elevation-z0">
          <table mat-table [dataSource]="dataSource" matSort>
            <!-- id Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
              <td mat-cell *matCellDef="let element; let i = index;"> {{i + 1}}</td>
            </ng-container>
            <!-- Day Column -->
            <ng-container matColumnDef="workDay">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Day </th>
              <td mat-cell *matCellDef="let element"> {{element.workDay.day | titlecase }} </td>
            </ng-container>
            <!-- Time Column -->
            <ng-container matColumnDef="startTime">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Time </th>
              <td mat-cell *matCellDef="let element"> {{element.startTime.stringTime }} </td>
            </ng-container>
              <!-- Time Column -->
            <ng-container matColumnDef="endTime">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> End Time </th>
              <td mat-cell *matCellDef="let element"> {{element.endTime.stringTime}} </td>
            </ng-container>
             <!-- Time Column -->
             <ng-container matColumnDef="time">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Time Range </th>
              <td mat-cell *matCellDef="let element"> {{element.time}} </td>
            </ng-container>
             <!-- Created Column -->
            <ng-container matColumnDef="createdOn">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
              <td mat-cell *matCellDef="let element"> {{element.createdOn | date:'longDate'}} </td>
            </ng-container>
             <!-- action Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let element">
                  <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item (click)="edit(element)"><mat-icon>edit</mat-icon> Edit</button>
                    <button mat-menu-item (click)="delete(element)"><mat-icon>delete</mat-icon> Delete</button>
                  </mat-menu>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator
                [pageSize]='param.pageSize'
                [length]='totalNumberOfItems'
                [hidePageSize]='hidePageSize'
                [pageIndex]=0
                (page)='onPageChange($event)'
                [pageSizeOptions]="pageSizeOptions"
                showFirstLastButtons>
          </mat-paginator>
        </div>
  </nb-card-body>
</nb-card>
