button.mat-menu-item {
  width: none;
}

nb-card-footer {
  button {
    margin: 0.25rem;
  }
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

button {
  cursor: pointer;
  border: none;
}
