@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../themes/themes';

.cdk-global-overlay-wrapper {
  align-items: flex-start !important;
}

.cdk-overlay-pane.global-dialog-container,
.global-dialog-container .mat-dialog-container {
  position: absolute !important;
  top: 6.5% !important;
  bottom: 2% !important;
}

@include media-breakpoint-up(sm) {
  .dialog-card {
    max-width: 90vw;
    min-width: 80vw;
  }
}

@include media-breakpoint-up(md) {
  .dialog-card {
    max-width: 90vw;
    min-width: 70vw;
  }
}

@include media-breakpoint-down(lg) {
  .dialog-card {
    max-width: 90vw;
    min-width: 60vw;
  }
}

@include media-breakpoint-down(is) {
  .dialog-card {
    max-width: 90vw;
    min-width: 80vw;
  }
}

@include media-breakpoint-up(xl) {
  .dialog-card {
    max-width: 90vw;
    min-width: 60vw;
  }
}

@media (min-width: 40rem) {
  .dialog-card {
    max-width: 38rem;
  }
}
