<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-header> {{title}} <button class="push-right" nbButton hero status='success' (click)="open()">Add New Parent</button></nb-card-header>
  <nb-card-body
        [nbSpinner]="isLoading"
        nbSpinnerStatus="success"
        nbSpinnerSize="large"
        nbSpinnerMessage="Loading Parents....">
      <div class="mat-elevation-z0">
          <table mat-table [dataSource]="dataSource" matSort>
            <!-- id Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
              <td mat-cell *matCellDef="let element; let i = index;"> {{i + 1}} </td>
            </ng-container>
            <!-- Full Column -->
            <ng-container matColumnDef="fullName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </th>
              <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
            </ng-container>
             <!-- Gender Column -->
            <ng-container matColumnDef="gender">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
              <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
            </ng-container>

             <!-- Email Address Column -->
             <ng-container matColumnDef="emailAddress">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email Address </th>
                <td mat-cell *matCellDef="let element"> {{element.emailAddress}} </td>
              </ng-container>
               <!-- Phone Number Column -->
              <ng-container matColumnDef="phoneNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
                <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
              </ng-container>
            <!-- Registered On Column -->
            <ng-container matColumnDef="createdOn">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Registered On</th>
              <td mat-cell *matCellDef="let element"> {{element.createdOn}} </td>
            </ng-container>
             <!-- action Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let element">
                  <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item (click)="view(element)"><mat-icon>visibility</mat-icon> View</button>
                    <button mat-menu-item (click)="edit(element)"><mat-icon>edit</mat-icon> Edit</button>
                    <button mat-menu-item (click)="delete(element)"><mat-icon>delete</mat-icon> Delete</button>
                  </mat-menu>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator
                [pageSize]='param.pageSize'
                [length]='totalNumberOfItems'
                [hidePageSize]='hidePageSize'
                [pageIndex]=0
                (page)='onPageChange($event)'
                [pageSizeOptions]="pageSizeOptions"
                showFirstLastButtons>
          </mat-paginator>
        </div>
  </nb-card-body>
</nb-card>

