.nb-theme-cosmic nb-card.dialog-card,
.nb-theme-corporate nb-card.dialog-card,
.nb-theme-dark nb-card.dialog-card,
.nb-theme-default nb-card.dialog-card {
  max-height: 91vh !important;
}

.nb-theme-cosmic nb-card,
.nb-theme-corporate nb-card,
.nb-theme-dark nb-card,
.nb-theme-default nb-card {
  /* min-width: 40vw !important; */
  font-size: inherit;
}

.nb-theme-default nb-card-footer,
.nb-theme-dark nb-card-footer,
.nb-theme-cosmic nb-card-footer,
.nb-theme-corporate nb-card-footer {
  padding: 0.5rem 1.5rem !important;
}
