<div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-6">
        <app-profit-card></app-profit-card>
      </div>
      <div class="col-md-6">
        <app-earning-card></app-earning-card>
      </div>
    </div>

    <app-traffic-reveal-card></app-traffic-reveal-card>
  </div>

  <div class="col-xxl-7">
    <app-ecommerce-charts></app-ecommerce-charts>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <app-country-orders></app-country-orders>
  </div>

  <div class="col-xxl-3">
    <app-progress-section></app-progress-section>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <app-ecommerce-visitors-analytics></app-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <app-user-activity></app-user-activity>
  </div>
</div>
