@import '~@nebular/theme/styles/global/breakpoints';
@import '../../styles/colors/color-variables';

.navbar {
  position: relative;
  min-height: 46px;
  margin-bottom: 0px;
  border: 1px solid transparent;
}

nb-card.auth-ui {
  border: 0 solid transparent;
  border-radius: 0.25rem;
  box-shadow: none !important;
}

@media (min-width: 769px) {
  .navbar {
      border-radius: 0;
      padding-left: 20px;
      padding-right: 20px;
  }
  .auth-ui {
    width:450px;
    margin: auto;
  }
}

.navbar:after,
.navbar:before {
  content: " ";
  display: table;
}

.navbar:after {
  clear: both;
}

:host {
  display:block;
  width:100%;
  max-width:100% !important;
}

.bg-indigo {
  background-color: $blue-color-1;
  border-color: #3F51B5;
  color: $white-color;
}

.app-name-link {
  color: $white-color;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 10px;
  text-align: center;
}

.app-name-link,
.app-name-link:hover,
.app-name-link:visited
.app-name-link:focus {
  color: $white-color;
  text-decoration: none;
}
