<div class='row'>
  <div class="col-md-12 col-lg-12 col-xxxl-12">
      <form [formGroup]="classesAutoGenerateForm" class="step-container" (ngSubmit)="onSubmit()">
      <nb-card class="dialog-card" size="small">
        <nb-card-header status="danger">Auto Generate New Classes </nb-card-header>
        <nb-card-body
          [nbSpinner]="isLoading"
          nbSpinnerStatus="success"
          nbSpinnerSize="large"
          nbSpinnerMessage="Loading Classes....">
          <div class="row">
              <div class="col-md-6">
                  <div class="form-control-group">
                      <label for="class-academicYear" class="label">Class Academic Year</label>
                      <nb-select
                        fullWidth
                        placeholder="Class Academic Year"
                        formControlName="academicYearId"
                        id="class-academicYear">
                        <nb-option
                            *ngFor='let acad of academicYears'
                            [value]="acad.id">
                            {{acad.name}} - {{acad.yearOfStudy}}
                        </nb-option>
                      </nb-select>
                  </div>
              </div>
          </div>
        </nb-card-body>
        <nb-card-footer>
            <button class='push-right' [disabled]="!classesAutoGenerateForm.valid" type="submit" nbButton hero status="success">Auto Generate</button>
            <button  type='button' class='push-right' nbButton hero status="danger" (click)="dismiss(false)">Cancel</button>
        </nb-card-footer>
      </nb-card>
  </form>
</div>
</div>

