<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="teacher-tab-icon text-primary">person</mat-icon> Teacher Profile
    </ng-template>
    <div class="row">
      <div class="col-md-12">
        <app-user-details
          *ngIf='teacher'
          [userDatail]="teacher"
          [userType]="userType"
          (onImageChangeSuccess)="reloadTeacherDetails($event)"
          ></app-user-details>
      </div>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="teacher-tab-icon text-primary">menu_book</mat-icon> Teacher Courses
    </ng-template>
    <div class="row">
        <div class="col-md-12">
          <app-my-course
            *ngIf='teacher'
            [userType]="userType"
            [user]="teacher"
          ></app-my-course>
        </div>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="teacher-tab-icon text-primary">autorenew</mat-icon> Manage Student Progress
    </ng-template>
    <app-manage-student-progress
      *ngIf='teacher'
      [teacher]="teacher"
    ></app-manage-student-progress>
  </mat-tab>
</mat-tab-group>
