<div class='row'>
    <div class="col-md-12 col-lg-12 col-xxxl-12">
        <form  autocomplete="off" [formGroup]="teacherForm" (ngSubmit)="onSubmit()">
            <nb-card size="giant" status="primary">
              <nb-card-header>{{ title }}</nb-card-header>
              <nb-card-body>
               <!--
                <div class="row">
                     <div class="col-md-6">
                        <app-search-user
                          [userType]="'teacher'"
                          (onUserSelected) = "onUserSelected($event)"
                        ></app-search-user>
                     </div>
                  </div>
               -->
                  <div class="row">
                      <div class="col-md-12">
                          <h4 class="text-primary">Basic Information</h4>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-control-group">
                        <label for="teacher-first-name" class="label">First Name</label>
                        <input
                              type="text"
                              nbInput fullWidth
                              autocomplete="new-password"
                              required
                              id="teacher-first-name"
                              formControlName="firstName"
                              placeholder="First Name">
                        <ng-container *ngIf="teacherForm.controls['firstName'].invalid && teacherForm.controls['firstName'].touched">
                          <p class="error-message">
                            First Name is required!
                          </p>
                        </ng-container>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-control-group">
                        <label for="teacher-last-name" class="label">Last Name</label>
                        <input
                              required
                              type="text"
                              autocomplete="new-password"
                              nbInput fullWidth
                              id="teacher-last-name"
                              formControlName="lastName"
                              placeholder="Last Name">
                        <ng-container *ngIf="teacherForm.controls['lastName'].invalid && teacherForm.controls['lastName'].touched">
                          <p class="error-message">
                            Last Name is required!
                          </p>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-control-group">
                        <label for="teacher-middle-names" class="label">Other Names</label>
                        <input
                              type="text"
                              nbInput fullWidth
                              autocomplete="new-password"
                              required
                              id="teacher-middle-names"
                              formControlName="middleNames"
                              placeholder="Other  Names">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-control-group">
                        <label for="teacher-phone-number" class="label">Phone Number</label>
                        <input
                              type="text"
                              nbInput fullWidth
                              autocomplete="new-password"
                              required
                              id="teacher-phone-number"
                              formControlName="phoneNumber"
                              placeholder="Phone Number">
                      </div>
                    </div>
                  </div>
                  <app-user-login-input
                    *ngIf="action === 'create'"
                    [userLoginInput]="userLoginInput"
                    (onChanges)="onUserLoginInputChange($event)">
                  </app-user-login-input>
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-control-group">
                              <label for="teacher-position" class="label">Position</label>
                              <nb-select
                                fullWidth
                                placeholder="Position"
                                formControlName="position"
                                id="teacher-position">
                                <nb-option
                                    *ngFor='let pos of positions' [value]="pos.id">
                                    {{pos.name}}
                                </nb-option>
                              </nb-select>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-control-group">
                              <label for="teacher-academicDiscipline" class="label">Field of Study</label>
                              <nb-select
                                fullWidth
                                placeholder="Field of Study"
                                formControlName="academicDiscipline"
                                id="teacher-academicDiscipline">
                                <nb-option
                                    *ngFor='let acad of academicDisciplines'
                                    [value]="acad.id">
                                    {{acad.name}}
                                </nb-option>
                              </nb-select>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-control-group">
                              <label for="teacher-position" class="label">Gender</label>
                              <nb-radio-group formControlName="gender">
                                <nb-radio [value]="'male'">Male</nb-radio>
                                <nb-radio [value]="'female'">Female</nb-radio>
                              </nb-radio-group>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-control-group">
                            <label for="teacher-birthDate" class="label">Date of Birth</label>
                            <input
                                [nbDatepicker]="birthDate"
                                nbInput fullWidth
                                id="teacher-birthDate"
                                formControlName="birthDate"
                                placeholder="Birth Date">
                            <nb-datepicker #birthDate></nb-datepicker>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                        <div class="form-control-group">
                          <label for="user-code" class="label">Employment Code</label>
                          <input
                              type="text"
                              nbInput fullWidth
                              autocomplete="off"
                              required
                              id="user-code"
                              formControlName="userCode"
                              placeholder="Employment Code">
                        </div>
                      </div>
                      <div class="col-md-6">

                      </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                          <h4 class="text-primary mt-4">Address</h4>
                        </div>
                    </div>
                    <app-address
                      [address]="teacher?.address ? teacher?.address : null"
                      (onChanges)="onAddressChange($event)"></app-address>
              </nb-card-body>
              <nb-card-footer>
                <button class='push-right' [disabled]="!teacherForm.valid" type="submit" nbButton hero status="success">Submit</button>
                <button  type='button'  class='push-right' nbButton hero status="danger" (click)="dismiss()">Cancel</button>
              </nb-card-footer>
            </nb-card>
        </form>
    </div>
</div>

