<div class="row">
  <div class="col-md-12">
    <form [formGroup]="timetableForm" class="step-container" (ngSubmit)="onSubmit()">
      <nb-card [nbSpinner]="isLoading" nbSpinnerSize="giant" nbSpinnerStatus="primary">
        <nb-card-header>
          Classes Schedule for Academic Year {{academicYear?.yearOfStudy}} - {{academicYear?.name}}
        </nb-card-header>
        <nb-card-body>
          <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-control-group">
                      <label for="class-academicYear" class="label">Academic Year</label>
                      <nb-select
                        fullWidth
                        placeholder="Class Academic Year"
                        formControlName="academicYearId"
                        id="class-academicYear">
                        <nb-option
                            *ngFor='let acad of academicYears'
                            [value]="acad.id">
                            {{acad.name}} - {{acad.yearOfStudy}}
                        </nb-option>
                      </nb-select>
                  </div>
                  </div>
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-control-group">
                            <label for="course-program" class="label">Program</label>
                            <nb-select
                                fullWidth
                                placeholder="Program"
                                formControlName="programId"
                                id="course-program">
                                <nb-option
                                    *ngFor='let program of programs'
                                    [value]="program.id">
                                    {{program.name}}
                                </nb-option>
                              </nb-select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-control-group">
                            <label for="class-academicLevel" class="label">Class Academic Level</label>
                            <nb-select
                              fullWidth
                              placeholder="Course Academic Level"
                              formControlName="academicLevelId"
                              id="class-academicLevel">
                              <nb-option
                                  *ngFor='let acad of academicLevels'
                                  [value]="acad?.id">
                                  {{acad?.name}} - {{acad?.code}}
                              </nb-option>
                            </nb-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-control-group">
                      <button
                        class='push-right'
                        [disabled]="!timetableForm.valid"
                        type="submit"
                        nbButton hero
                        status="success">
                        Retrieve Time table
                      </button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <div class="timetable"></div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </form>
  </div>
</div>
