
/* ==========================================================================
 * Default settings
 * ==========================================================================
 */
// general
$timetable-use-sticky-header: false !default;
$timetable-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$section-width: 90% !default;
$aside-width: 10% !default;


// dimensions
$timetable-hour-column-width: 192px !default;
$timetable-hour-row-height: 92px !default;
$timetable-heading-height: 30px !default;

// colors & decoration
$timetable-white-color: #FFFFFF;
$timetable-black-color: #000000;
$timetable-primary-color: #3366FF;
$timetable-secondary-color: rgba(10, 17, 15, .5);
$timetable-success-color: #00d68F;
$timetable-info-color: #0095FF;
$timetable-warning-color: #FFAA00;
$timetable-danger-color: #FF3D71;

$timetable-grid-color: #E5E5E5 !default;
$timetable-grid: 1px solid $timetable-grid-color !default;
$timetable-row-header-padding: 15px !default;
$timetable-row-header-color: $timetable-secondary-color !default;
$timetable-legend-row-separator: 1px solid #FFFFFF !default;
$timetable-entry-row-separator: none !default;
$timetable-row-header-gap: 5px solid transparent !default;
$timetable-row-uneven-color: #FDFDFD !default;
$timetable-row-even-color: #F4F4F4 !default;
$timetable-entry-color: $timetable-info-color !default;
$timetable-entry-color-hover: darken($timetable-entry-color, 10%) !default;
$timetable-entry-border: 1px solid darken($timetable-entry-color, 15%) !default;
$timetable-entry-padding: 4px !default;
$timetable-row-margin-bottom: 3px !default;
$timetable-entry-text-color: #FFFFFF !default;
$timetable-background-color: #FFFFFF !default;

//Font sises
$timetable-heade4-font-size: 12px !default;
$timetable-font-size: 12px !default;

/* ==========================================================================
 * Mixins
 * ==========================================================================
 */
 @mixin valign-middle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-10%);
  transform: translateY(-10%);
}

@mixin valign-parent {
  transform-style: preserve-3d;
}

@mixin clearfix {
	&::after {
		clear: both;
		content: "";
    display: table;
  }
}

@mixin ellipsis($width: 100%) {
	display: inline-block;
	max-width: $width;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
}


/* ==========================================================================
 * Timetable
 * ==========================================================================
 */

 body {
  font-family: $timetable-font-family;
  color: #333;
  font-size: 15px;
}

a, a:hover, a:focus, a:visited {
  text-decoration: none;
  color: $timetable-entry-text-color;
}

.timetable {
  box-sizing: border-box
}

.timetable::after {
  clear: both;
  content: "";
  display: table;
}

.timetable *,
.timetable *:before,
.timetable *:after {
  box-sizing: inherit;
}

.timetable ul,
.timetable li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.timetable aside,
.timetable section {
  float: left;
}

.timetable aside {
  width: $aside-width;
  padding: 0!important;
  margin-top: $timetable-hour-row-height;
  border-right: $timetable-row-header-gap;
}

.timetable aside::before {
  content: '';
  display: block;
  background-color: $timetable-row-header-color;
  height: $timetable-heading-height;
  position: if($timetable-use-sticky-header, sticky, relative);
  margin-top: - $timetable-hour-row-height;
  top: 0;
}

.timetable aside li{
  padding: 0 $timetable-row-header-padding;
  background-color: $timetable-row-header-color;
  line-height: $timetable-hour-row-height;
}

.timetable aside li:not(:last-of-type){
  border-bottom: $timetable-legend-row-separator;
}

.timetable aside .row-heading {
  color: $timetable-white-color;
  @include ellipsis;
}

.timetable ul {
  list-style-type: none;
  margin: 0;
}

.timetable aside li,
.timetable time li {
  height: $timetable-hour-row-height;
}

.timetable section{
  width: $section-width;
  padding: 0 !important;
  background-color: $timetable-background-color;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.timetable section time {
  white-space: nowrap;
  display: inline-block;
}

.timetable section header {
  height: $timetable-heading-height;
  background-color: $timetable-row-header-color;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  font-size: 0;
}

.timetable section header::after {
  clear: both;
  content: "";
  display: table
}

.timetable section header li {
  display: inline-block;
  font-size: $timetable-font-size;
  font-weight: 700;
  overflow: visible;
  width: 0;
  line-height: 46px;
  display: inline-block;
  position: relative;
}
.timetable section header li:first-of-type .time-label {
  padding-left: 4px;
}

.timetable section header li:not(:last-of-type) {
  width: $timetable-hour-column-width;
}

.timetable section header li .time-label {
  display: block;
  position: absolute;
  left: 0;
  top: -4px;
  color: $timetable-entry-text-color;
}

.timetable section header li:not(:first-of-type) .time-label {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.timetable section header li:last-of-type .time-label {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

@media only screen and (max-width:960px) {
  .timetable aside {
    width: 30%;
  }
  .timetable section {
    width: 70%;
  }
}

.timetable ul.room-timeline {
  border-left: none;
  position: relative;
  overflow: hidden;
}

.timetable ul.room-timeline li {
  position: relative;
  background-color: #F4F4F4;
}

.timetable aside li,
.timetable ul.room-timeline li {
  margin-bottom: $timetable-row-margin-bottom;
}
.timetable ul.room-timeline li:nth-of-type(odd) {
  background-color: #FDFDFD;
}

.timetable ul.room-timeline li:first-of-type {
  border-top:1px solid #E5E5E5;
}

.timetable ul.room-timeline li:last-of-type {
  border-bottom:1px solid #E5E5E5;
}

.timetable ul.room-timeline li:not(:last-of-type) {
  border-bottom: none;
}

.timetable ul.room-timeline li:first-child .time-entry {
  height: $timetable-hour-row-height;
}

.timetable ul.room-timeline li:after,
.timetable ul.room-timeline li:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.timetable ul.room-timeline li:before {
  background-image: linear-gradient(to right, $timetable-grid-color 1px, transparent 1px);
  background-size: $timetable-hour-column-width/4 auto;
}

.timetable ul.room-timeline li:after {
  background-image: linear-gradient(to right, $timetable-grid-color, $timetable-grid-color 1px, $timetable-row-even-color 1px, $timetable-row-even-color 2px, $timetable-grid-color 2px, $timetable-grid-color 3px, transparent 3px, transparent);
  background-size: $timetable-hour-column-width auto;
  background-position: -2px 0;
}

.timetable .time-entry {
  background-color: $timetable-entry-color;
  transition: 200ms background-color;
  height: $timetable-hour-row-height - 2px;
  display: block;
  position: absolute;
  z-index: 2;
  padding: $timetable-entry-padding;;
  white-space: normal;
  overflow: hidden;
  color: $timetable-white-color;
  border: $timetable-entry-border;
  @include valign-parent;
}

.timetable .time-entry small{
  @include valign-middle;
  display: block;
}

.timetable .time-entry small h4,
.timetable .time-entry small h4.event-title {
 font-size: $timetable-heade4-font-size;
 font-weight: 700;
}

.timetable .time-entry small .event-content,
.timetable .time-entry small .event-content p {
  font-size: $timetable-font-size;
  font-weight: 400;
  line-height: 4px;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: nowrap;
}

.timetable .time-entry small h4,
.timetable .time-entry small h4.event-title,
.timetable .time-entry small .event-content,
.timetable .time-entry small .event-content p {
  color: $timetable-white-color;
  font-family: $timetable-font-family;
}

.timetable .time-entry:hover {
  background-color: $timetable-entry-color-hover
}

.row-heading {
	font-weight: 700;
	font-size: 0.7em;
	text-transform: uppercase;
}
.nb-theme-default nb-card {
  max-height: 100vh !important;
}
