<div class='row'>
  <div class="col-md-12 col-lg-12 col-xxxl-12">
          <nb-card class="dialog-card" status="primary">
          <nb-card-header status="danger" >{{ title }}</nb-card-header>
          <nb-card-body>
            <mat-horizontal-stepper [linear]="linearMode" #stepper>
              <mat-step [stepControl]="studentForm">
                <form [formGroup]="studentForm" class="step-container" (ngSubmit)="onSubmit()">
                  <ng-template matStepLabel>Fill out Student Details</ng-template>
                  <app-user-login-input
                      [userLoginInput]="userLoginInput"
                      (onChanges)="onUserLoginInputChange($event)">
                  </app-user-login-input>
                  <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-primary">Basic Information</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-control-group">
                        <label for="student-first-name" class="label">First Name</label>
                        <input
                              type="text"
                              nbInput fullWidth
                              autocomplete="new-password"
                              required
                              id="student-first-name"
                              [status]="studentForm.controls['firstName'].invalid && studentForm.controls['firstName'].touched ? 'danger' : 'basic'"
                              formControlName="firstName"
                              placeholder="First Name">
                        <ng-container *ngIf="studentForm.controls['firstName'].invalid && studentForm.controls['firstName'].touched">
                          <p class="error-message">
                            First Name is required!
                          </p>
                        </ng-container>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-control-group">
                        <label for="student-middle-names" class="label">Middle Name(s)</label>
                        <input
                          type="text"
                          nbInput fullWidth
                          autocomplete="new-password"
                          id="student-middle-names"
                          formControlName="middleNames"
                          placeholder="Middle Name(s)">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-control-group">
                        <label for="student-last-name" class="label">Last Name</label>
                        <input
                          required
                          type="text"
                          autocomplete="new-password"
                          nbInput fullWidth
                          id="student-last-name"
                          [status]="studentForm.controls['lastName'].invalid && studentForm.controls['lastName'].touched ? 'danger' : 'basic'"
                          formControlName="lastName"
                          placeholder="Last Name">
                        <ng-container *ngIf="studentForm.controls['lastName'].invalid && studentForm.controls['lastName'].touched">
                          <p class="error-message">
                            Last Name is required!
                          </p>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-control-group">
                        <label class="label" for="input-email">Email Address:</label>
                        <input nbInput
                               id="input-email"
                               formControlName="email"
                               placeholder="email Address"
                               fullWidth
                               [status]="studentForm.controls['email'].invalid && studentForm.controls['email'].touched ? 'danger' : 'basic'"
                               [attr.aria-invalid]="studentForm.controls['email'].invalid && studentForm.controls['email'].touched ? true : null">
                        <ng-container *ngIf="studentForm.controls['email']?.invalid && studentForm.controls['email']?.touched">
                          <p class="error-message" *ngIf="studentForm.controls['email']?.errors?.required">
                            email is required!
                          </p>
                          <p class="error-message" *ngIf="studentForm.controls['email']?.errors?.pattern">
                            email should be the real one!
                          </p>
                        </ng-container>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-control-group">
                        <label for="student-phone-number" class="label">Phone Number</label>
                        <input
                          type="text"
                          nbInput fullWidth
                          autocomplete="new-password"
                          id="student-phone-number"
                          formControlName="phoneNumber"
                          placeholder="Emergency Phone Number">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-control-group">
                              <label for="student-position" class="label">Gender</label>
                              <nb-radio-group formControlName="gender">
                                <nb-radio [value]="'male'">Male</nb-radio>
                                <nb-radio [value]="'female'">Female</nb-radio>
                              </nb-radio-group>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-control-group">
                            <label for="student-birthDate" class="label">Date of Birth (yyyy/MM/dd)</label>
                            <input
                                [nbDatepicker]="birthDate"
                                nbInput fullWidth
                                autocomplete="new-password"
                                id="student-birthDate"
                                formControlName="birthDate"
                                [status]="studentForm.controls['birthDate'].invalid && studentForm.controls['birthDate'].touched ? 'danger' : 'basic'"
                                placeholder="Birth Date">
                            <ng-container *ngIf="studentForm.controls['birthDate'].invalid && studentForm.controls['birthDate'].touched">
                              <p class="error-message">
                                Date of Birth is required!
                              </p>
                            </ng-container>
                            <nb-datepicker #birthDate></nb-datepicker>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                        <h4 class="text-primary mt-3">Address</h4>
                      </div>
                  </div>
                  <app-address
                    [address]="studentForm.controls['address'].value"
                    (onChanges)="onStudentAddressChange($event)">
                  </app-address>
                  <div class="row">
                      <div class="col-md-12">
                          <h4 class="text-primary mt-4">Program and Academic Level</h4>
                      </div>
                  </div>
                  <div class="row mb-5">
                    <div class="col-md-6">
                        <div class="form-control-group">
                            <label for="student-program" class="label">Program</label>
                            <nb-select
                              fullWidth
                              placeholder="Program"
                              formControlName="programId"
                              id="student-program">
                              <nb-option
                                  *ngFor='let program of programs' [value]="program.id">
                                  {{program.name}}
                              </nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-control-group">
                            <label for="student-current-level" class="label">Current Academic Level</label>
                            <nb-select
                              fullWidth
                              placeholder="Current Academic Level"
                              formControlName="academicLevelId"
                              id="student-current-level">
                              <nb-option
                                  *ngFor='let academicLevel of academicLevels'
                                  [value]="academicLevel.id">
                                  {{academicLevel.name}}
                              </nb-option>
                            </nb-select>
                        </div>
                    </div>
                  </div>
                  <div class="form-control-group">
                    <button matStepperNext class='push-right mr-1' [disabled]="!studentForm.valid" type="submit" nbButton hero status="success">Next</button>
                    <button type='button' class='push-right mr-1' nbButton hero status="danger" (click)="dismiss()">Cancel</button>
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="parentForm" label="Fill out Parent Details">
                <form [formGroup]="parentForm">
                  <div class="row">
                    <div class="col-md-12">
                      <h4 class="text-primary mt-3">Primary Parent/Guardian</h4>
                    </div>
                  </div>
                  <app-parent-create></app-parent-create>
                  <div>
                    <div class="form-control-group">
                      <button matStepperNext class='push-right mr-1' [disabled]="!parentForm.valid" type="submit" nbButton hero status="success">Finish</button>
                      <button matStepperPrevious class='push-right mr-1' nbButton hero status="success">Back</button>
                      <button type='button' class='push-right mr-1' nbButton hero status="danger" (click)="dismiss()">Cancel</button>
                    </div>
                  </div>
                </form>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <p>You are now done.</p>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button (click)="stepper.reset()">Reset</button>
                </div>
              </mat-step>
          </mat-horizontal-stepper>
        </nb-card-body>
      </nb-card>
  </div>
</div>

