<nb-card>
  <nb-card-header>{{ title }}</nb-card-header>
  <nb-card-body>
    <nb-stepper #stepper [linear]="linearMode" >
      <nb-step [stepControl]="studentForm" label="Student Information">
        <form [formGroup]="studentForm" class="step-container" (ngSubmit)="onSubmit()">
          <div class='row'>
            <div class='col-md-12'>
                <nb-alert *ngIf="showMessage.error" outline="danger" role="alert">
                    <p class="alert-title"><b>Sorry!</b></p>
                    <ul class="alert-message-list">
                        <li class="alert-message">{{ showMessage.message }}</li>
                      </ul>
                  </nb-alert>
                  <nb-alert *ngIf="showMessage.success" outline="success" role="alert">
                    <p class="alert-title"><b>Success!</b></p>
                    <ul class="alert-message-list">
                      <li class="alert-message">{{ showMessage.message }}</li>
                    </ul>
                  </nb-alert>
            </div>
          </div>
          <div class="form-control-group">
            <label for="student-first-name" class="label">First Name</label>
            <input
                  type="text"
                  nbInput fullWidth
                  autocomplete="new-password"
                  required
                  id="student-first-name"
                  [status]="studentForm.controls['lastName'].invalid && studentForm.controls['lastName'].touched ? 'danger' : ''"
                  formControlName="firstName"
                  placeholder="First Name">
            <ng-container *ngIf="studentForm.controls['firstName'].invalid && studentForm.controls['firstName'].touched">
              <p class="error-message">
                First Name is required!
              </p>
            </ng-container>
          </div>
          <div class="form-control-group">
            <label for="student-last-name" class="label">Last Name</label>
            <input
                  required
                  type="text"
                  autocomplete="new-password"
                  nbInput fullWidth
                  id="student-last-name"
                  [status]="studentForm.controls['lastName'].invalid && studentForm.controls['lastName'].touched ? 'danger' : ''"
                  formControlName="lastName"
                  placeholder="Last Name">
            <ng-container *ngIf="studentForm.controls['lastName'].invalid && studentForm.controls['lastName'].touched">
              <p class="error-message">
                Last Name is required!
              </p>
            </ng-container>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="form-control-group">
                      <label for="student-position" class="label">Gender</label>
                      <nb-radio-group formControlName="gender">
                        <nb-radio [value]="'male'">Male</nb-radio>
                        <nb-radio [value]="'female'">Female</nb-radio>
                      </nb-radio-group>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-control-group">
                    <label for="student-birthDate" class="label">Date of Birth (yyyy/MM/dd)</label>
                    <input
                        [nbDatepicker]="birthDate"
                        nbInput fullWidth
                        id="student-birthDate"
                        formControlName="birthDate"
                        [status]="studentForm.controls['lastName'].invalid && studentForm.controls['lastName'].touched ? 'danger' : ''"
                        placeholder="Birth Date">
                    <nb-datepicker #birthDate format="yyyy/MM/dd"></nb-datepicker>
                  </div>
              </div>
          </div>
          <button class='push-right' [disabled]="!studentForm.valid" type="submit" nbStepperNext nbButton hero status="success">Submit</button>
        </form>
      </nb-step>

      <nb-step [stepControl]="parentForm" label="Parent Information">
          <form [formGroup]="parentForm" class="step-container" (ngSubmit)="onSubmit()">
              <div class='row'>
                <div class='col-md-12'>
                    <nb-alert *ngIf="showMessage.error" outline="danger" role="alert">
                        <p class="alert-title"><b>Sorry!</b></p>
                        <ul class="alert-message-list">
                            <li class="alert-message">{{ showMessage.message }}</li>
                          </ul>
                      </nb-alert>
                      <nb-alert *ngIf="showMessage.success" outline="success" role="alert">
                        <p class="alert-title"><b>Success!</b></p>
                        <ul class="alert-message-list">
                          <li class="alert-message">{{ showMessage.message }}</li>
                        </ul>
                      </nb-alert>
                </div>
              </div>
              <div class="form-control-group">
                <label for="parent-first-name" class="label">First Name</label>
                <input
                      type="text"
                      nbInput fullWidth
                      autocomplete="new-password"
                      required
                      id="parent-first-name"
                      [status]="parentForm.controls['lastName'].invalid && parentForm.controls['lastName'].touched ? 'danger' : ''"
                      formControlName="firstName"
                      placeholder="First Name">
                <ng-container *ngIf="parentForm.controls['firstName'].invalid && parentForm.controls['firstName'].touched">
                  <p class="error-message">
                    First Name is required!
                  </p>
                </ng-container>
              </div>
              <div class="form-control-group">
                <label for="parent-last-name" class="label">Last Name</label>
                <input
                      required
                      type="text"
                      autocomplete="new-password"
                      nbInput fullWidth
                      id="parent-last-name"
                      [status]="parentForm.controls['lastName'].invalid && parentForm.controls['lastName'].touched ? 'danger' : ''"
                      formControlName="lastName"
                      placeholder="Last Name">
                <ng-container *ngIf="parentForm.controls['lastName'].invalid && parentForm.controls['lastName'].touched">
                  <p class="error-message">
                    Last Name is required!
                  </p>
                </ng-container>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-control-group">
                          <label for="parent-gender" class="label">Gender</label>
                          <nb-radio-group formControlName="gender">
                            <nb-radio [value]="'male'">Male</nb-radio>
                            <nb-radio [value]="'female'">Female</nb-radio>
                          </nb-radio-group>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-control-group">
                        <label for="parent-occupation" class="label">Occupation</label>
                        <input
                            nbInput fullWidth
                            id="parent-occupation"
                            formControlName="occupation"
                            [status]="parentForm.controls['occupation'].invalid && parentForm.controls['occupation'].touched ? 'danger' : ''"
                            placeholder="Occupation">
                      </div>
                  </div>
              </div>
              <button class='push-right' [disabled]="!parentForm.valid" type="submit" nbStepperNext nbButton hero status="success">Submit</button>
            </form>
      </nb-step>

      <nb-step [stepControl]="addressForm" label="Address Information">
          <form [formGroup]="addressForm" class="step-container" (ngSubmit)="onSubmit()">
              <div class='row'>
                <div class='col-md-12'>
                    <nb-alert *ngIf="showMessage.error" outline="danger" role="alert">
                        <p class="alert-title"><b>Sorry!</b></p>
                        <ul class="alert-message-list">
                            <li class="alert-message">{{ showMessage.message }}</li>
                          </ul>
                      </nb-alert>
                      <nb-alert *ngIf="showMessage.success" outline="success" role="alert">
                        <p class="alert-title"><b>Success!</b></p>
                        <ul class="alert-message-list">
                          <li class="alert-message">{{ showMessage.message }}</li>
                        </ul>
                      </nb-alert>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-control-group">
                          <label for="address-street" class="label">Street</label>
                          <input
                                type="text"
                                nbInput fullWidth
                                autocomplete="new-password"
                                required
                                id="address-street"
                                [status]="addressForm.controls['street'].invalid && addressForm.controls['street'].touched ? 'danger' : ''"
                                formControlName="street"
                                placeholder="Street">
                          <ng-container *ngIf="addressForm.controls['street'].invalid && addressForm.controls['street'].touched">
                            <p class="error-message">
                              Street is required!
                            </p>
                          </ng-container>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-control-group">
                          <label for="address-unit" class="label">Unit </label>
                          <input
                                required
                                type="text"
                                autocomplete="new-password"
                                nbInput fullWidth
                                id="address-unit"
                                [status]="addressForm.controls['unit'].invalid && addressForm.controls['unit'].touched ? 'danger' : ''"
                                formControlName="unit"
                                placeholder="Unit/Apartment/Suite">
                          <ng-container *ngIf="addressForm.controls['unit'].invalid && addressForm.controls['unit'].touched">
                            <p class="error-message">
                              Unit is required!
                            </p>
                          </ng-container>
                      </div>
                  </div>
              </div>
              <div class="form-control-group">
                <label for="address-city" class="label">City</label>
                <input
                      required
                      type="text"
                      autocomplete="new-password"
                      nbInput fullWidth
                      id="address-city"
                      [status]="addressForm.controls['city'].invalid && addressForm.controls['city'].touched ? 'danger' : ''"
                      formControlName="city"
                      placeholder="City">
                <ng-container *ngIf="addressForm.controls['city'].invalid && addressForm.controls['city'].touched">
                  <p class="error-message">
                    City is required!
                  </p>
                </ng-container>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-control-group">
                          <label for="address-state" class="label">State</label>
                          <input
                                required
                                type="text"
                                autocomplete="new-password"
                                nbInput fullWidth
                                id="address-state"
                                [status]="addressForm.controls['state'].invalid && addressForm.controls['state'].touched ? 'danger' : ''"
                                formControlName="state"
                                placeholder="State">
                          <ng-container *ngIf="addressForm.controls['state'].invalid && addressForm.controls['state'].touched">
                            <p class="error-message">
                              State is required!
                            </p>
                          </ng-container>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-control-group">
                          <label for="address-state" class="label">Postal Code</label>
                          <input
                                required
                                type="text"
                                autocomplete="new-password"
                                nbInput fullWidth
                                id="address-postalCode"
                                [status]="addressForm.controls['postalCode'].invalid && addressForm.controls['postalCode'].touched ? 'danger' : ''"
                                formControlName="postalCode"
                                placeholder="Postal Code">
                          <ng-container *ngIf="addressForm.controls['postalCode'].invalid && addressForm.controls['postalCode'].touched">
                            <p class="error-message">
                              State is required!
                            </p>
                          </ng-container>
                      </div>
                  </div>
              </div>
              <div class="form-control-group">
                <label for="address-country" class="label">Country</label>
                <input
                      type="text"
                      nbInput fullWidth
                      autocomplete="new-password"
                      required
                      id="address-country"
                      [status]="addressForm.controls['country'].invalid && addressForm.controls['country'].touched ? 'danger' : ''"
                      formControlName="country"
                      placeholder="Country">
                <ng-container *ngIf="addressForm.controls['country'].invalid && addressForm.controls['country'].touched">
                  <p class="error-message">
                    Country is required!
                  </p>
                </ng-container>
              </div>
              <button class='push-right' [disabled]="!addressForm.valid" type="submit" nbStepperNext nbButton hero status="success">Submit Address</button>
            </form>
      </nb-step>

      <nb-step [hidden]="true">
        <div class="step-container">
          <h3>Wizard completed!</h3>
          <button nbButton (click)="stepper.reset()">Try again</button>
        </div>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
  <nb-card-footer>
    <button class='push-right' nbButton hero status="danger" (click)="dismiss()">Cancel</button>
  </nb-card-footer>
</nb-card>

