<div class='row'>
  <div class="col-md-12 col-lg-12 col-xxxl-12">
      <form [formGroup]="studentClassForm" class="step-container" (ngSubmit)="onSubmit()">
        <nb-card class="dialog-card"
          [nbSpinner]="isLoading"
          nbSpinnerStatus="success"
          nbSpinnerSize="large"
          nbSpinnerMessage="Loading Scheduled Courses....">
          <nb-card-header>{{ title }}</nb-card-header>
          <nb-card-body>
            <div class="row" *ngIf="useSearch">
              <div class="col-md-6">
                <app-search-user
                  [title]="'Search for Student'"
                  [placeholder]="'Type Student Initial'"
                  [userType]="userType"
                  (onUserSelected)="setSelectedUser($event)"
                ></app-search-user>
              </div>
              <div class="col-md-6">
                <div class="form-control-group">
                  <div class="form-control-group">
                    <label for="student-program" class="label">Student Program</label>
                    <p>{{student?.programName}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class='row' *ngIf="student && !useSearch">
                <div class='col-md-6'>
                  <div class="form-control-group" *ngIf="student.fullName">
                    <label for="student-full-name" class="label">Full Name</label>
                    <p>{{student.fullName}}</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-control-group">
                    <div class="form-control-group">
                      <label for="student-program" class="label">Student Program</label>
                      <p>{{student?.programName}}</p>
                    </div>
                  </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                  <div class="form-control-group">
                      <label for="class-academicLevel" class="label">Academic Level</label>
                      <nb-select
                        fullWidth
                        placeholder="Course Academic Level"
                        formControlName="academicLevelId"
                        id="class-academicLevel">
                        <nb-option
                            *ngFor='let academicLevel of academicLevels'
                            [value]="academicLevel?.id">
                            {{academicLevel?.name}} - {{academicLevel?.code}}
                        </nb-option>
                      </nb-select>
                  </div>
              </div>
              <div class="col-md-6">
                <div class="form-control-group" *ngIf="academicYears">
                    <label for="class-academicYearId" class="label">Academic Year</label>
                    <nb-select
                        fullWidth
                        placeholder="Choose Academic Year......"
                        formControlName="academicYearId"
                        id="class-academicYearId">
                        <nb-option
                            *ngFor='let academicYear of academicYears'
                            [value]="academicYear?.id">
                            {{academicYear?.name}} - {{academicYear?.yearOfStudy}}
                        </nb-option>
                      </nb-select>
                </div>
              </div>
            </div>
            <div class="lists row">
              <div class="col-md-12">
                  <div class="form-control-group">
                    <nb-card class="list-card" accent="success" *ngIf="classes && classes.length > 0">
                      <nb-card-header>
                        Choose courses for the {{academicYear?.name}} - {{academicYear?.yearOfStudy}}
                      </nb-card-header>
                        <nb-list>
                          <nb-list-item >
                            <nb-checkbox
                              (checkedChange)="checkAllCourseBoxes($event)"
                              status="primary"
                              class="push-right">Check All</nb-checkbox>
                          </nb-list-item>
                          <nb-list-item *ngFor="let jClass of classes">
                            <nb-checkbox
                            [id]="'jClass-'+ jClass?.id"
                            [checked]="checkAllCourses"
                            status="success"
                            (checkedChange)="checkedChange($event, jClass)"
                            >{{jClass.course.name}}
                          </nb-checkbox>
                          </nb-list-item>
                        </nb-list>
                    </nb-card>
                  </div>
              </div>
            </div>
          </nb-card-body>
          <nb-card-footer>
            <div class="form-control-group">
              <button class='push-right' [disabled]="!studentClassForm.valid" type="submit" nbButton hero status="success">Create Class</button>
              <button type='button' class='push-right' nbButton hero status="danger" (click)="dismiss()">Cancel</button>
            </div>
          </nb-card-footer>
        </nb-card>
  </form>
</div>
</div>

