<div class='row'>
  <div class="col-md-12 col-lg-12 col-xxxl-12">
      <form [formGroup]="studentClassForm" class="step-container" (ngSubmit)="onSubmit()">
      <nb-card>
        <nb-card-header status="danger" >{{ title }}</nb-card-header>
        <nb-card-body>
        <div class='row'>
            <div class='col-md-12'>
                <nb-alert *ngIf="showMessage.error" outline="danger" role="alert">
                    <p class="alert-title"><b>Sorry!</b></p>
                    <ul class="alert-message-list">
                        <li class="alert-message">{{ showMessage.message }}</li>
                      </ul>
                  </nb-alert>
                  <nb-alert *ngIf="showMessage.success" outline="success" role="alert">
                    <p class="alert-title"><b>Success!</b></p>
                    <ul class="alert-message-list">
                      <li class="alert-message">{{ showMessage.message }}</li>
                    </ul>
                  </nb-alert>
            </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="form-control-group">
                      <label for="class-student" class="label">Select Student</label>
                      <nb-select
                        fullWidth
                        placeholder="Select Student"
                        formControlName="studentId"
                        id="class-student">
                        <nb-option
                            *ngFor='let student of students'
                            [value]="student.id">
                            {{student.fullName}}
                        </nb-option>
                      </nb-select>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="form-control-group">
                      <label for="class-academicYear" class="label">Class Academic Year</label>
                      <nb-select
                        fullWidth
                        placeholder="Class Academic Year"
                        formControlName="academicYearId"
                        id="class-academicYear">
                        <nb-option
                            *ngFor='let acad of academicYears'
                            [value]="acad.id">
                            {{acad.name}}
                        </nb-option>
                      </nb-select>
                  </div>
              </div>
          </div>
          <div class="lists row">
            <div class="col-md-12">
                <div class="form-control-group">
                  <nb-card class="list-card" accent="success">
                    <nb-card-header>Check box from the list Scheduled Courses</nb-card-header>
                    <nb-card-body
                      [nbSpinner]="isLoading"
                      nbSpinnerStatus="success"
                      nbSpinnerSize="large"
                      nbSpinnerMessage="Loading Scheduled Courses....">
                      <nb-list>
                        <nb-list-item *ngFor="let jClass of jClasses">
                          <nb-checkbox [id]="'jClass-'+ jClass.id" status="success" (checkedChange)="checkedChange($event, jClass)" [checked]="false">{{jClass.course.name}}</nb-checkbox>
                        </nb-list-item>
                      </nb-list>
                    </nb-card-body>
                  </nb-card>
                </div>
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer>
            <button class='push-right' [disabled]="!studentClassForm.valid" type="submit" nbButton hero status="success">Create Class</button>
            <button type='button' class='push-right' nbButton hero status="danger" (click)="dismiss()">Cancel</button>
        </nb-card-footer>
      </nb-card>
  </form>
</div>
</div>

