<div class='row'>
  <div class="col-md-12 col-lg-12 col-xxxl-12">
      <form [formGroup]="studentClassForm" class="step-container" (ngSubmit)="onSubmit()">
      <nb-card [nbSpinner]="isLoading" nbSpinnerSize="giant" nbSpinnerStatus="primary">
        <nb-card-header status="danger">{{ title }}</nb-card-header>
        <nb-card-body>
        <div class='row'>
            <div class='col-md-6'>
              <app-search-user
                [userType]="userType"
                title="Select Student"
                (onUserSelected)="patchStudent($event)"
              ></app-search-user>
            </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="form-control-group">
                      <label for="class-academicYear" class="label">Class Academic Year</label>
                      <nb-select
                        fullWidth
                        placeholder="Class Academic Year"
                        formControlName="academicYearId"
                        id="class-academicYear">
                        <nb-option
                            *ngFor='let acad of academicYears'
                            [value]="acad.id">
                            {{acad.name}} - {{acad.yearOfStudy}}
                        </nb-option>
                      </nb-select>
                  </div>
              </div>
          </div>
          <div class="lists row">
            <div class="col-md-12">
                <div class="form-control-group">
                  <nb-card class="list-card" accent="success" *ngIf="jClasses">
                    <nb-card-header>Choose courses from a list of available courses for {{academicYear.name}} - {{academicYear.yearOfStudy}} </nb-card-header>
                    <nb-card-body
                      [nbSpinner]="isLoading"
                      nbSpinnerStatus="success"
                      nbSpinnerSize="large"
                      nbSpinnerMessage="Loading Scheduled Courses....">
                      <nb-list>
                        <nb-list-item *ngFor="let jClass of jClasses">
                          <nb-checkbox
                          [id]="'jClass-'+ jClass.id"
                          status="success"
                          (checkedChange)="checkedChange($event, jClass)"
                          >{{jClass.course.name}}
                        </nb-checkbox>
                        </nb-list-item>
                      </nb-list>
                    </nb-card-body>
                  </nb-card>
                </div>
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer>
          <div class="form-control-group">
            <button class='push-right' [disabled]="!studentClassForm.valid" type="submit" nbButton hero status="success">Create Class</button>
            <button type='button' class='push-right' nbButton hero status="danger" (click)="dismiss()">Cancel</button>
          </div>
        </nb-card-footer>
      </nb-card>
  </form>
</div>
</div>

