<div class='row'>
    <div class="col-md-12 col-lg-12 col-xxxl-12">
        <form [formGroup]="classForm" class="step-container" (ngSubmit)="onSubmit()">
        <nb-card>
          <nb-card-header status="danger" >{{ title }}</nb-card-header>
          <nb-card-body
            [nbSpinner]="isLoading"
            nbSpinnerStatus="success"
            nbSpinnerSize="large"
            nbSpinnerMessage="Loading Classes....">
          <div class='row'>
              <div class='col-md-12'>
                  <nb-alert *ngIf="showMessage.error" outline="danger" role="alert">
                      <p class="alert-title"><b>Sorry!</b></p>
                      <ul class="alert-message-list">
                          <li class="alert-message">{{ showMessage.message }}</li>
                        </ul>
                    </nb-alert>
                    <nb-alert *ngIf="showMessage.success" outline="success" role="alert">
                      <p class="alert-title"><b>Success!</b></p>
                      <ul class="alert-message-list">
                        <li class="alert-message">{{ showMessage.message }}</li>
                      </ul>
                    </nb-alert>
              </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                  <div class="form-control-group">
                    <label for="class-capacity" class="label">Class Capacity</label>
                    <input
                          type="number"
                          nbInput fullWidth
                          autocomplete="new-password"
                          required
                          id="class-capacity"
                          formControlName="capacity"
                          placeholder="Class Capacity">
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-control-group">
                        <label for="class-academicYear" class="label">Class Academic Year</label>
                        <nb-select
                          fullWidth
                          placeholder="Class Academic Year"
                          formControlName="academicYearId"
                          id="class-academicYear">
                          <nb-option
                              *ngFor='let acad of academicYears'
                              [value]="acad.id">
                              {{acad.name}}
                          </nb-option>
                        </nb-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-control-group">
                        <label for="class-course" class="label">Class Course</label>
                        <nb-select
                          fullWidth
                          placeholder="Class Course"
                          formControlName="courseId"
                          id="class-course">
                          <nb-option
                              *ngFor='let course of courses'
                              [value]="course.id">
                              {{course.name}}
                          </nb-option>
                        </nb-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-control-group">
                        <label for="class-teacher" class="label">Class Teacher</label>
                        <nb-select
                          fullWidth
                          placeholder="Class Teacher"
                          formControlName="teacherId"
                          id="class-teacher">
                          <nb-option
                              *ngFor='let teacher of teachers'
                              [value]="teacher.id">
                              {{teacher.fullName}}
                          </nb-option>
                        </nb-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-control-group">
                        <label for="class-classRoom" class="label">Class Room</label>
                        <nb-select
                          fullWidth
                          placeholder="Class Room"
                          formControlName="classRoomId"
                          id="class-classRoom">
                          <nb-option
                              *ngFor='let classRoom of classRooms'
                              [value]="classRoom.id">
                              {{classRoom.name}}
                          </nb-option>
                        </nb-select>
                    </div>
                </div>
            </div>
          </nb-card-body>
          <nb-card-footer>
              <button class='push-right' [disabled]="!classForm.valid" type="submit" nbButton hero status="success">Create Class</button>
              <button  type='button' class='push-right' nbButton hero status="danger" (click)="dismiss()">Cancel</button>
          </nb-card-footer>
        </nb-card>
    </form>
  </div>
</div>

