.hidden-file {
  visibility: hidden;
  position: absolute;
  overflow: hidden;
  width: 0px;
  height:0px;
  border:none;
  margin:0;
  padding:0
}
.upload-container {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  .img-container img {
    width: 250px;
    margin: 10px;
    text-align: center;
    border: 1px solid #8f9bb3;;
    border-radius: 3px;
  }

}
