<div class='row'>
  <div class="col-md-12 col-lg-12 col-xxxl-12">
      <form  autocomplete="off" [formGroup]="workDayForm" (ngSubmit)="onSubmit()">
          <nb-card status="primary" class="dialog-card">
            <nb-card-header>{{ title }}</nb-card-header>
            <nb-card-body>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-control-group">
                          <label for="workDay" class="label">Work Day</label>
                          <nb-select
                          fullWidth
                          placeholder="Select Day"
                          class="capitalize"
                          formControlName="dayId"
                          id="class-work-day">
                          <nb-option
                              class="capitalize"
                              *ngFor='let day of days'
                              [value]="day.day">
                              {{day.name | titlecase}}
                          </nb-option>
                        </nb-select>
                        </div>
                  </div>
              </div>
            </nb-card-body>
            <nb-card-footer>
              <button class='push-right'
                  [disabled]="!workDayForm.valid"
                  type="submit"
                  nbButton hero
                  status="success"
                  [nbSpinner]="isSubmitting"
                  nbSpinnerStatus="success"
                  nbSpinnerSize="large"
                  [nbSpinnerMessage]="action == 'create' ? 'Creating......' : 'Saving......'">
                    {{action == 'create' ? 'Create' : 'Save Changes'}}
              </button>
              <button  type='button' class='push-right' nbButton hero status="danger" (click)="dismiss()">Cancel</button>
            </nb-card-footer>
          </nb-card>
      </form>
  </div>
</div>

