<form  autocomplete="off" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-12">
          <div class="form-control-group">
              <label for="user-search-key" class="label">{{title}}</label>
              <input
                  type="text"
                  name="searchKey"
                  nbInput fullWidth
                  autocomplete="off"
                  required
                  id="user-search-key"
                  formControlName="searchKey"
                  [placeholder]="title">
            </div>
            <nb-card [ngStyle]="{'display': listDisplay}">
              <nb-list *ngIf="users">
                <nb-list-item *ngFor="let user of users" (click)="pickUser($event, user)">
                  {{user?.fullName}}
                </nb-list-item>
              </nb-list>
            </nb-card>
      </div>
    </div>
</form>
