<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>User Profile</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputFirstName" class="label">First Name</label>
              <input nbInput
                    fullWidth
                    [(ngModel)]="user.firstName"
                    #firstName="ngModel"
                    name="firstName"
                    id="input-firstName"
                    placeholder="First Name"
                    fieldSize="large"
                    autofocus
                    [status]="firstName.dirty ? (firstName.invalid  ? 'danger' : 'success') : ''"
                    [required]="getConfigValue('forms.validation.lastName.required')"
                    [attr.aria-invalid]="firstName?.invalid && lastName.touched ? true : null">
              <ng-container *ngIf="firstName?.invalid && firstName?.touched">
                <p class="caption status-danger" *ngIf="firstName?.errors?.required">
                 First Name is required!
                </p>
                <p class="caption status-danger" *ngIf="firstName?.errors?.pattern">
                  First Name should be the real one!
                </p>
              </ng-container>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="input-lastName" class="label">Last Name</label>
              <input nbInput
                    fullWidth
                    [(ngModel)]="user.lastName"
                    #lastName="ngModel"
                    name="lastName"
                    id="input-lastName"
                    placeholder="Last Name"
                    fieldSize="large"
                    autofocus
                    [status]="lastName.dirty ? (lastName.invalid  ? 'danger' : 'success') : ''"
                    [required]="getConfigValue('forms.validation.lastName.required')"
                    [attr.aria-invalid]="lastName?.invalid && lastName.touched ? true : null">
              <ng-container *ngIf="lastName?.invalid && lastName?.touched">
                <p class="caption status-danger" *ngIf="lastName?.errors?.required">
                  Last Name is required!
                </p>
                <p class="caption status-danger" *ngIf="lastName?.errors?.pattern">
                  Last name should be the real one!
                </p>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
              <div class="form-group">
                  <label for="input-username" class="label">Username</label>
                  <input nbInput
                            fullWidth
                            [(ngModel)]="user.username"
                            #username="ngModel"
                            name="username"
                            id="input-username"
                            pattern=".+@.+\..+"
                            placeholder="Email address"
                            fieldSize="large"
                            autofocus
                            [status]="username.dirty ? (username.invalid  ? 'danger' : 'success') : ''"
                            [required]="getConfigValue('forms.validation.username.required')"
                            [attr.aria-invalid]="username?.invalid && username.touched ? true : null">
                      <ng-container *ngIf="username?.invalid && username?.touched">
                        <p class="caption status-danger" *ngIf="username?.errors?.required">
                          Username is required!
                        </p>
                        <p class="caption status-danger" *ngIf="username?.errors?.pattern">
                          Username should be the real one!
                        </p>
                      </ng-container>
                </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="input-occupation" class="label">Occupation</label>
              <input nbInput
                    fullWidth
                    [(ngModel)]="user.occupation"
                    #occupation="ngModel"
                    name="occupation"
                    id="input-occupation"
                    placeholder="Occupation"
                    fieldSize="large"
                    autofocus
                    [status]="occupation.dirty ? (occupation.invalid  ? 'danger' : 'success') : ''"
                    [required]="getConfigValue('forms.validation.occupation.required')"
                    [attr.aria-invalid]="occupation?.invalid && occupation.touched ? true : null">
              <ng-container *ngIf="occupation?.invalid && occupation?.touched">
                <p class="caption status-danger" *ngIf="occupation?.errors?.required">
                    Occupation is required!
                </p>
                <p class="caption status-danger" *ngIf="occupation?.errors?.pattern">
                    Occupation should be the real one!
                </p>
              </ng-container>
            </div>
          </div>
        </div>
          <div class="row">
              <div class="col-sm-6">
                  <div class="form-group">
                      <label for="input-username" class="label">Username</label>
                      <input nbInput
                                fullWidth
                                [(ngModel)]="user.username"
                                #username="ngModel"
                                name="username"
                                id="input-username"
                                pattern=".+@.+\..+"
                                placeholder="Email address"
                                fieldSize="large"
                                autofocus
                                [status]="username.dirty ? (username.invalid  ? 'danger' : 'success') : ''"
                                [required]="getConfigValue('forms.validation.username.required')"
                                [attr.aria-invalid]="username?.invalid && username.touched ? true : null">
                          <ng-container *ngIf="username?.invalid && username?.touched">
                            <p class="caption status-danger" *ngIf="username?.errors?.required">
                              Username is required!
                            </p>
                            <p class="caption status-danger" *ngIf="username?.errors?.pattern">
                              Username should be the real one!
                            </p>
                          </ng-container>
                    </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="input-occupation" class="label">Gender</label>
                  <nb-radio-group [(value)]="user.gender">
                      <nb-radio
                        [value]="'male'">
                        Male
                      </nb-radio>
                      <nb-radio
                        [value]="'female'">
                        Female
                      </nb-radio>
                      <nb-radio
                        [value]="'other'">
                        Other
                      </nb-radio>
                    </nb-radio-group>
                </div>
              </div>
        </div>
        <button type="submit" nbButton>Update</button>
      </nb-card-body>
    </nb-card>
  </div>
</div>
