<nb-card>
  <nb-card-body>
    <div class="row">
      <div class="col-md-12">
        <nb-card>
          <nb-card-header>
            {{ title }}
          </nb-card-header>
        </nb-card>
        <nb-card class="list-card" accent="success">
          <nb-card-body style="padding: 0;" *ngIf="studentClassesProgress">
            <ng-container *ngFor="let classProgress of studentClassesProgress.classesProgress">
              <h5 class="m-2 text-primary">Courses for : {{classProgress?.academicYear?.name}} - {{classProgress?.academicYear?.code}}</h5>
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th scope="row">Acadeemic Level: </th><td>{{classProgress?.academicLevel?.name}}</td>
                    <th scope="row">Acadeemic Level Code: </th><td>{{classProgress?.academicLevel?.code}}</td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-md-12">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Course Name</th>
                        <th scope="col">Score</th>
                        <th scope="col">Standing</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let studentClass of classProgress.studentClasses">
                        <td scope="row">
                          <span class="text-primary">{{studentClass.courseName}} ({{studentClass.courseId}})</span>
                        </td>
                        <td>
                          <span [class]="'btn btn-sm btn-' + studentClass?.scoreStanding?.standingColor">
                            {{studentClass.score}}%
                          </span>
                        </td>
                        <td>
                          <span [class]="'btn btn-sm btn-' + studentClass?.scoreStanding?.standingColor">
                            {{studentClass?.scoreStanding?.standing}}%
                          </span>
                        </td>
                        <td>
                          <button nbButton outline hero shape="round" size="tiny"
                            [status]="getStatusClass(studentClass?.status)">
                            {{studentClass?.status}}
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </ng-container>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </nb-card-body>
</nb-card>
