button:focus {
  outline: none;
}
button:hover {
  background-color: rgba(0, 0, 0, 0.03);;
}
a:hover {
  text-decoration: none;
}
:host .nb-theme-default nb-card-body {
  padding-left: 0;
  padding-right: 0;
}
