<div class='row'>
  <div class="col-md-12 col-lg-12 col-xxxl-12">
      <form  autocomplete="off" [formGroup]="meetingTimeForm" (ngSubmit)="onSubmit()">
          <nb-card size="giant" status="primary">
            <nb-card-header>{{ title }}</nb-card-header>
            <nb-card-body>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-control-group">
                          <label for="workDay" class="label">Work Day</label>
                          <nb-select
                          fullWidth
                          placeholder="Select Day"
                          formControlName="workDayId"
                          id="class-work-day">
                          <nb-option
                              *ngFor='let workDay of workDays'
                              [value]="workDay.id">
                              {{workDay.day | titlecase}}
                          </nb-option>
                        </nb-select>
                        </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-control-group">
                          <label for="meetingTime" class="label">Time Range(24Hours Mode):</label>
                          <h1 class="text-primary">{{time}}</h1>
                        </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-control-group">
                          <label for="meetingTime" class="label">Start Time</label>
                            <ngb-timepicker
                              formControlName="startTime"
                              [meridian]="meridian"
                              [spinners]="spinners"
                              [seconds]="second">
                            </ngb-timepicker>
                        </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                    <div class="form-control-group">
                        <label for="meetingTime" class="label">End Time</label>
                        <ngb-timepicker
                          formControlName="endTime"
                          [meridian]="meridian"
                          [spinners]="spinners"
                          [seconds]="second">
                        </ngb-timepicker>
                      </div>
                </div>
            </div>
            </nb-card-body>
            <nb-card-footer>
              <button class='push-right'
                  [disabled]="!meetingTimeForm.valid"
                  type="submit"
                  nbButton hero
                  status="success"
                  [nbSpinner]="isSubmitting"
                  nbSpinnerStatus="success"
                  nbSpinnerSize="large"
                  [nbSpinnerMessage]="action == 'create' ? 'Creating......' : 'Saving......'">
                    {{action == 'create' ? 'Create' : 'Save Changes'}}
              </button>
              <button  type='button' class='push-right' nbButton hero status="danger" (click)="dismiss()">Cancel</button>
            </nb-card-footer>
          </nb-card>
      </form>
  </div>
</div>

