<div class='row'>
  <div class="col-md-12 col-lg-12 col-xxxl-12">
      <form [formGroup]="studentAcademicLevelForm" class="step-container" (ngSubmit)="onSubmit()">
        <nb-card class="dialog-card"
          [nbSpinner]="isLoading"
          nbSpinnerStatus="success"
          nbSpinnerSize="large"
          nbSpinnerMessage="Loading Scheduled Courses....">
          <nb-card-header>{{ title }}</nb-card-header>
          <nb-card-body>
            <div class="row" *ngIf="useSearch">
              <div class="col-md-6">
                <app-search-user
                  [title]="'Search for Student'"
                  [placeholder]="'Type Student Initial'"
                  [userType]="userType"
                  (onUserSelected)="setSelectedUser($event)"
                ></app-search-user>
              </div>
              <div class="col-md-6">
                <div class="form-control-group">
                  <div class="form-control-group">
                    <label for="student-program" class="label">Student Program</label>
                    <p>{{student?.programName}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class='row' *ngIf="student && !useSearch">
                <div class='col-md-6'>
                  <div class="form-control-group" *ngIf="student.fullName">
                    <label for="student-full-name" class="label">Full Name</label>
                    <p>{{student.fullName}}</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-control-group">
                    <div class="form-control-group">
                      <label for="student-program" class="label">Student Program</label>
                      <p>{{student?.programName}}</p>
                    </div>
                  </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                  <div class="form-control-group">
                      <label for="class-academicLevel" class="label">Academic Level</label>
                      <nb-select
                        fullWidth
                        placeholder="Course Academic Level"
                        formControlName="academicLevelId"
                        id="class-academicLevel">
                        <nb-option
                            *ngFor='let academicLevel of academicLevels'
                            [value]="academicLevel?.id">
                            {{academicLevel?.name}} - {{academicLevel?.code}}
                        </nb-option>
                      </nb-select>
                  </div>
              </div>
              <div class="col-md-6">
                <div class="form-control-group" *ngIf="academicYears">
                    <label for="class-academicYearId" class="label">Academic Year</label>
                    <nb-select
                        fullWidth
                        placeholder="Choose Academic Year......"
                        formControlName="academicYearId"
                        id="class-academicYearId">
                        <nb-option
                            *ngFor='let academicYear of academicYears'
                            [value]="academicYear?.id">
                            {{academicYear?.name}} - {{academicYear?.yearOfStudy}}
                        </nb-option>
                      </nb-select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-control-group">
                  <label for="is-current-student-academic-level" class="label">Check the box if this is current Academic Level</label>
                  <p>
                    <nb-checkbox
                    id="is-current-student-academic-level"
                    formControlName="isCurrentStudentAcademicLevel"
                    status="primary"> Current Student Academic Level</nb-checkbox>
                  </p>
                </div>
              </div>
            </div>
            <div class="lists row"  *ngIf="academicLevelPrerequisites && academicLevelPrerequisites.length > 0">
              <div class="col-md-12">
                  <div class="form-control-group">
                    <nb-card class="list-card" accent="success">
                      <nb-card-header>List of Pre-requisite for the selected Academic Level </nb-card-header>
                      <nb-card-body style="padding: 0;">
                        <nb-list class="list-group">
                          <nb-list-item class="list-group-item" *ngFor="let academicLevelPrerequisite of academicLevelPrerequisites; index as i;">
                            <a href="#" (click)="removeAcademicLevel($event)">
                              <div class="row">
                                <div class="col-md-1">{{i + 1}}</div>
                                <div class="col-md-10">{{academicLevelPrerequisite?.academicLevel?.name}}</div>
                                <div class="col-md-1">
                                  <span class="push-right">
                                    <nb-icon icon="checkmark-outline"></nb-icon>
                                  </span>
                                </div>
                              </div>
                            </a>
                          </nb-list-item>
                        </nb-list>
                      </nb-card-body>
                    </nb-card>
                  </div>
              </div>
          </div>
          </nb-card-body>
          <nb-card-footer>
            <div class="form-control-group">
              <button class='push-right' [disabled]="!studentAcademicLevelForm.valid" type="submit" nbButton hero status="success">Enroll</button>
              <button type='button' class='push-right' nbButton hero status="danger" (click)="dismiss()">Cancel</button>
            </div>
          </nb-card-footer>
        </nb-card>
  </form>
</div>
</div>

