<nb-card>
  <nb-card-header>{{title}}</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-xxxl-12 col-md-12" >
        <nb-card>
          <form [formGroup]="studentClassForm" class="step-container">
            <nb-card-body>
              <div class="row">
                  <div class="col-md-12 col-lg-12 col-xxxl-12"
                    [nbSpinner]="isLoading"
                    nbSpinnerStatus="success"
                    nbSpinnerSize="large"
                    nbSpinnerMessage="Loading courses....">
                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-control-group">
                                  <label for="class-academicLevel" class="label">Academic Level</label>
                                  <nb-select
                                    fullWidth
                                    placeholder="Academic Level"
                                    formControlName="academicLevelId"
                                    id="class-academicLevel">
                                    <nb-option
                                        *ngFor='let acad of academicLevels'
                                        [value]="acad.id">
                                        {{acad.name}} - {{acad.code}}
                                    </nb-option>
                                  </nb-select>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="lists row">
                <div class="col-md-12">
                    <div class="form-control-group">
                      <nb-card class="list-card" accent="success">
                        <nb-card-body style="padding: 0;" *ngIf="classAttendances">
                          <h5>Summary of Classes Attendance Report for {{academicLevel.name}} - {{academicLevel.code}}</h5>
                          <nb-list class="list-group">
                            <nb-list-item class="list-group-item active" >
                                <div class="row">
                                    <div class="col-md-6">Attendance Date</div>
                                    <div class="col-md-6">Attendance Status</div>
                                </div>
                            </nb-list-item>
                            <nb-list-item class="list-group-item" *ngFor="let classAttendance of classAttendances">
                              <a href="#">
                                  <div class="row">
                                    <div class="col-md-6"></div>
                                    <div class="col-md-6"></div>
                                  </div>
                              </a>
                            </nb-list-item>
                          </nb-list>
                        </nb-card-body>
                      </nb-card>
                    </div>
                </div>
              </div>
            </nb-card-body>
          </form>
        </nb-card>
      </div>
    </div>
  </nb-card-body>
</nb-card>
