<div class='row'>
    <div class="col-md-12 col-lg-12 col-xxxl-12">
        <form  autocomplete="off" [formGroup]="staffForm" (ngSubmit)="onSubmit()">
            <nb-card size="giant" status="primary">
              <nb-card-header>{{ title }}</nb-card-header>
              <nb-card-body>
                <div class='row'>
                    <div class='col-md-12'>
                        <nb-alert *ngIf="showMessage.error" outline="danger" role="alert">
                            <p class="alert-title"><b>Sorry!</b></p>
                            <ul class="alert-message-list">
                                <li class="alert-message">{{ showMessage.message }}</li>
                              </ul>
                          </nb-alert>
                          <nb-alert *ngIf="showMessage.success" outline="success" role="alert">
                            <p class="alert-title"><b>Success!</b></p>
                            <ul class="alert-message-list">
                              <li class="alert-message">{{ showMessage.message }}</li>
                            </ul>
                          </nb-alert>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-6'>
                        <div class="form-control-group">
                            <label for="staff-first-name" class="label">First Name</label>
                            <input
                                  type="text"
                                  nbInput fullWidth
                                  autocomplete="new-password"
                                  required
                                  id="staff-first-name"
                                  formControlName="firstName"
                                  placeholder="First Name">
                            <ng-container *ngIf="staffForm.controls['firstName'].invalid && staffForm.controls['firstName'].touched">
                              <p class="error-message">
                                First Name is required!
                              </p>
                            </ng-container>
                          </div>
                    </div>
                    <div class='col-md-6'>
                        <div class="form-control-group">
                            <label for="staff-last-name" class="label">Last Name</label>
                            <input
                                  required
                                  type="text"
                                  autocomplete="new-password"
                                  nbInput fullWidth
                                  id="staff-last-name"
                                  formControlName="lastName"
                                  placeholder="Last Name">
                            <ng-container *ngIf="staffForm.controls['lastName'].invalid && staffForm.controls['lastName'].touched">
                              <p class="error-message">
                                Last Name is required!
                              </p>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="row">
                      <div class="col-md-6">
                        <div class="form-control-group">
                          <label for="student-middle-names" class="label">Other Names</label>
                          <input
                                type="text"
                                nbInput fullWidth
                                autocomplete="new-password"
                                required
                                id="student-middle-names"
                                formControlName="middleNames"
                                placeholder="Other  Names">
                        </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-control-group">
                              <label for="staff-position" class="label">Position</label>
                              <nb-select
                                fullWidth
                                placeholder="Position"
                                formControlName="position"
                                id="staff-position">
                                <nb-option
                                    *ngFor='let pos of positions' [value]="pos.id">
                                    {{pos.name}}
                                </nb-option>
                              </nb-select>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-control-group">
                              <label for="staff-position" class="label">Gender</label>
                              <nb-radio-group formControlName="gender">
                                <nb-radio [value]="'male'">Male</nb-radio>
                                <nb-radio [value]="'female'">Female</nb-radio>
                              </nb-radio-group>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-control-group">
                            <label for="staff-birthDate" class="label">Date of Birth (yyyy/MM/dd)</label>
                            <input
                                [nbDatepicker]="birthDate"
                                nbInput fullWidth
                                id="staff-birthDate"
                                formControlName="birthDate"
                                placeholder="Birth Date">
                            <nb-datepicker #birthDate></nb-datepicker>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                        <div class="form-control-group">
                          <label for="student-email-address" class="label">Email Address</label>
                          <input
                                type="text"
                                nbInput fullWidth
                                autocomplete="new-password"
                                required
                                id="student-email-address"
                                formControlName="emailAddress"
                                placeholder="Email Address">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-control-group">
                          <label for="student-phone-number" class="label">Phone Number</label>
                          <input
                                type="text"
                                nbInput fullWidth
                                autocomplete="new-password"
                                required
                                id="student-phone-number"
                                formControlName="phoneNumber"
                                placeholder="Emergency Phone Number">
                        </div>
                      </div>
                    </div>
                    <app-address
                        [address]="staff?.address ? staff?.address  : null"
                        (onChanges)="onAddressChange($event)"></app-address>
              </nb-card-body>
              <nb-card-footer>
                <button class='push-right' [disabled]="!staffForm.valid" type="submit" nbButton hero status="success">Submit</button>
                <button  type='button' class='push-right' nbButton hero status="danger" (click)="dismiss()">Cancel</button>
              </nb-card-footer>
            </nb-card>
        </form>
    </div>
</div>

