
$white-color: #FFFFFF;
$black-color: #000000;
$primary-color: #3366FF;
$secondary-color: rgba(10, 17, 15, .5);
$success-color: #00d68F;
$info-color: #0095FF;
$warning-color: #FFAA00;
$danger-color: #FF3D71;

