<div class='row'>
  <div class="col-md-12 col-lg-12 col-xxxl-12">
      <form  autocomplete="off" [formGroup]="programForm" (ngSubmit)="onSubmit()">
          <nb-card status="primary" class="dialog-card">
            <nb-card-header>{{ title }}</nb-card-header>
            <nb-card-body>
              <div class="row">
                  <div class="col-md-12">
                      <div class="form-control-group">
                          <label for="program-name" class="label">Name</label>
                          <input
                              type="text"
                              nbInput fullWidth
                              required
                              id="program-name"
                              formControlName="name"
                              placeholder="eg. Elementary">
                        </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                    <div class="form-control-group">
                      <label for="program-code" class="label">Code</label>
                      <input
                          type="text"
                          nbInput fullWidth
                          required
                          id="program-code"
                          formControlName="code"
                          placeholder="eg. PS-0001">
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                    <div class="form-control-group">
                        <label for="program-description" class="label">Description</label>
                        <textarea
                          id="program-description"
                          nbInput
                          fullWidth
                          formControlName="description"
                          placeholder="">
                        </textarea>
                        <!-- <app-mce-editor (editorKeyup)=getDescriptionContent($event) ></app-mce-editor> -->
                      </div>
                </div>
              </div>
<!--              <div class="lists row">
                <div class="col-md-12">
                    <div class="form-control-group">
                      <nb-card class="list-card" accent="success" *ngIf="academicLevels && completionOrders">
                        <nb-card-header>Choose Academic Level(s) required for the Program </nb-card-header>
                        <nb-card-body>
                          <div class="row">
                            <div class="col-md-8">
                              Academic Level
                            </div>
                            <div class="col-md-4">
                                Completion Order
                            </div>
                          </div>
                          <div cdkDropList class="row drag-drop-list" (cdkDropListDropped)="onDragDropChange($event)">
                            <div class="row drag-drop-box" *ngFor="let academicLevel of academicLevels; index as i;" cdkDrag
                              (cdkDragStarted)="onDragItemStarted($event)">
                               <div class="drag-drop-custom-placeholder" *cdkDragPlaceholder></div>
                                <div class="col-md-8">
                                  <nb-checkbox
                                    [id]="'academicLevel-'+ academicLevel.id"
                                    status="success"
                                    (checkedChange)="checkedChange($event, academicLevel, i)">
                                    {{academicLevel.name}}
                                  </nb-checkbox>
                                </div>
                                <div class="col-md-4">
                                    {{ i + 1 }}
                                </div>
                              </div>
                          </div>
                        </nb-card-body>
                      </nb-card>
                    </div>
                </div>
              </div> -->
            </nb-card-body>
            <nb-card-footer>
              <button class='push-right'
                  [disabled]="!programForm.valid"
                  type="submit"
                  nbButton hero
                  status="success"
                  [nbSpinner]="isSubmitting"
                  nbSpinnerStatus="success"
                  nbSpinnerSize="large"
                  [nbSpinnerMessage]="action == 'create' ? 'Creating program......' :'Saving the changes......'">
                    {{action == 'create' ? 'Create' : 'Save Changes'}}
              </button>
              <button  type='button' class='push-right' nbButton hero status="danger" (click)="dismiss()">Cancel</button>
            </nb-card-footer>
          </nb-card>
      </form>
  </div>
</div>

