<div class="row mb-3">
  <div class="col-md-12 col-lg-12 col-xxxl-12">
    <form [formGroup]="currentAcademicYearForm" class="step-container">
      <div class="row">
        <div class="col-md-12">
            <div class="form-control-group">
                <label for="class-academicYear" class="label">{{title}}</label>
                <nb-select
                  fullWidth
                  placeholder="Class Academic Year"
                  formControlName="academicYearId"
                  id="class-academicYear">
                  <nb-option
                      *ngFor="let acad of academicYears"
                      [value]="acad.id">
                      {{acad.name}} - {{acad.yearOfStudy}}
                  </nb-option>
                </nb-select>
            </div>
        </div>
    </div>
    </form>
  </div>
</div>
