 @import '../colors/color-variables';

.nb-theme-default nb-menu .menu-item > .menu-items {
  padding-right: 0;
  padding-left: 0;
  margin-top: 10px;
}

.nb-theme-default nb-menu .menu-item > .menu-items > .menu-item a {
  padding-left: 2.75rem;
}

.nb-theme-default nb-context-menu {
  background-color: $black-color-1;
  position: relative;
  opacity: 1;
}
