<div class='row'>
  <div class="col-md-12 col-lg-12 col-xxxl-12">
      <form  autocomplete="off" [formGroup]="programAcademicLevelForm" (ngSubmit)="onSubmit()">
          <nb-card status="primary" class="dialog-card">
            <nb-card-header>{{ title }}</nb-card-header>
            <nb-card-body>
              <div class="row">
                  <div class="col-md-12">
                      <div class="form-control-group">
                          <label for="program-academic-level" class="label">Academic Level</label>
                          <nb-select
                            fullWidth
                            placeholder="Academic Level"
                            formControlName="academicLevelId"
                            id="program-academic-level">
                            <nb-option
                                *ngFor='let academicLevel of academicLevels'
                                [value]="academicLevel.id">
                                {{academicLevel.name}} - {{academicLevel.code}}
                            </nb-option>
                          </nb-select>
                      </div>
                  </div>
              </div>
              <div class="lists row">
                <div class="col-md-12">
                    <div class="form-control-group">
                      <nb-card class="list-card" accent="success" *ngIf="academicLevels">
                        <nb-card-header>Choose Academic Level(s) required for the Program </nb-card-header>
                        <nb-card-body>
                          <nb-list-item class="list-group-item" *ngFor="let academicLevel of academicLevels; index as i;">
                            <div class="row">
                              <div class="col-md-12">
                                <nb-checkbox
                                  [id]="'academicLevel-'+ academicLevel.id"
                                  status="success"
                                  (checkedChange)="checkedChange($event, academicLevel)">
                                  {{academicLevel.name}}
                                </nb-checkbox>
                              </div>
                            </div>
                          </nb-list-item>
                        </nb-card-body>
                      </nb-card>
                    </div>
                </div>
              </div>
            </nb-card-body>
            <nb-card-footer>
              <button class='push-right'
                  [disabled]="!programAcademicLevelForm.valid"
                  type="submit"
                  nbButton hero
                  status="success"
                  [nbSpinner]="isSubmitting"
                  nbSpinnerStatus="success"
                  nbSpinnerSize="large"
                  [nbSpinnerMessage]="'Adding academic level......'">
                   Submit Academic Level
              </button>
              <button  type='button' class='push-right' nbButton hero status="danger" (click)="dismiss()">Cancel</button>
            </nb-card-footer>
          </nb-card>
      </form>
  </div>
</div>

